.userinfo {

    TH {
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
        white-space: nowrap;
    }

    TD {
        padding-left: 5px;
    }
}

.userinfo-tooltip {

    .fullname {
        font-weight: bold;
        font-size: 11pt;
        margin-bottom: 4pt;
    }

    .rank {
        font-size: 8pt;
    }

    .last-online {
        color: @gr;
        font-size: 8pt;
        margin-top: 3ex;
    }
}
