/* @(#) $Id$ */

input {
	background: white;
	font-family: verdana;
	font-size: 10px;
	border: 1px solid;
	color: 000000;
	cursor: no-resize;
	background: #ffffff;
}

.b {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color:#ffffff;
	font-family: tahoma,arial;
}

a {
	font-size: 13px;
	font-family: tahoma,Arial;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

A:hover {
	color: #C76B4B;
	text-decoration: underline;
}

small {
	font-size: 11px;
	font-family: tahoma,arial;
	color: #000000;
}

.hiddenlink {
	color: #000000;
	text-decoration: none;
}

b {
	font-size: 12px;
	font-family: tahoma,Arial;
	color: #ffffff;
}

.r {
	color: #000000;
}

.red {
	color: #C76B4B;
}

td,a.under {
	font-size: 13px;
	font-family: tahoma,Arial;
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}

A.under:hover {
	color: #C76B4B;
	text-decoration: none;
}
