/* @(#) $Id$ */

span.pretty input {
	background: white;
	font-family: verdana;
	font-size: 10px;
	border: 1px solid;
	color: 000000;
	cursor: no-resize;
	background: #ffffff;
}

span.pretty .b {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color:#ffffff;
	font-family: tahoma,arial;
}

span.pretty a {
	font-size: 13px;
	font-family: tahoma,Arial;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

span.pretty a.menu {
	font-size: 12px;
}

span.pretty a:hover {
	color: #C76B4B;
	text-decoration: underline;
}

span.pretty small {
	font-size: 11px;
	font-family: tahoma,arial;
	color: #000000;
}

span.pretty .hiddenlink {
	color: #000000;
	text-decoration: none;
}

span.pretty b {
	font-size: 12px;
	font-family: tahoma,Arial;
	color: #ffffff;
}

span.pretty .r {
	color: #000000;
}

span.pretty .red {
	color: #C76B4B;
}

span.pretty td,span.pretty a.under {
	font-size: 13px;
	font-family: tahoma,Arial;
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}

span.pretty a.under:hover {
	color: #C76B4B;
	text-decoration: none;
}
