AddDefaultCharset Windows-1251
php_value include_path ".:.."
php_flag magic_quotes_gpc off
php_flag magic_quotes_runtime off

RewriteEngine on
RewriteBase /
RewriteRule ^([0-9]+)/$ index.php?topic_id=$1&grp=11
RewriteRule ^[0-9]+/(.+)$ $1
