AddDefaultCharset Windows-1251
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php
php_value include_path ".:..:/etc/mnogosearch-php:/usr/share/mnogosearch-php"
php_flag magic_quotes_gpc off
php_flag magic_quotes_runtime off
php_flag register_globals off

DirectoryIndex /dispatcher.php
RewriteEngine on
RewriteBase /
RewriteRule ^([^.]+)$ /dispatcher.php
RewriteRule ^([^.]+).html$ /dispatcher.php
