/* @(#) $Id$ */

* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}


.error[color='red'] {
	color: red;
}

.error[color='magenta'] {
	color: magenta;
}

.menu {
	background-color: #0C20A5;
	padding-left: 1em;
	margin-bottom: .5ex;
}

.menu A {
	color: white;
	text-decoration: none;
}

.menu A.selected {
	color: yellow;
}

.menu A:hover {
	text-decoration: underline;
}


.state {
	/*background-color: #42E8DA;*/
	font-size: 8pt;
	padding: 0pt;
}

.state .date {
	font-size: 10pt;
	font-weight: bold;
	color: #F1BE06;
	padding-right: 1em;
}

.state .login TD {
	font-size: 8pt;
}

.state .login A {
	font-size: 8pt;
	color: inherit;
}

.state .login A.name {
	text-decoration: underline;
}

.state .login A:hover {
	color: blue;
}

.state .login INPUT {
	border-color: blue;
	border-width: 1px;
	color: blue;
	font-size: 8pt;
}

.batcher {
	font-size: 8pt;
}

.batcher A.add {
	color: white;
	font-size: 8pt;
	text-decoration: none;
	margin-left: 1em;
}

.batcher A.add:hover {
	text-decoration: underline;
}

.batcher TD {
	font-size: 8pt;
}

.batcher INPUT {
	border-color: blue;
	border-width: 1px;
	color: blue;
	font-size: 8pt;
}

.batcher SELECT {
	border-color: blue;
	color: blue;
	border-width: 1px;
	font-size: 8pt;
}

.posting {
	border: 1px solid #52739C;
	margin: 0.5ex;
}

.posting .top {
	background-color: #52739C;
}

.posting .top .sent {
	color: white;
	font-weight: bold;
}

.posting .top .name {
	color: yellow;
}

.rebe .posting .top .name {
	color: #FF5500;
	font-weight: bold;
}

.posting .top .name A {
	color: yellow;
	text-decoration: none;
}

.rebe .posting .top .name A {
	color: #FF5500;
	font-weight: bold;
	text-decoration: none;
}

.rebe .posting .top A:hover {
	text-decoration: underline;
}

.posting .top A:hover {
	text-decoration: underline;
}

.posting .top .details {
	color: white;
	font-weight: bold;
}

.posting .top .details A {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.posting .top .details A:hover {
	text-decoration: underline;
}

.posting .subject {
	font-weight: bold;
	font-size: 12pt;
  	padding-right: 2ex;
	padding-bottom: 1.5ex;
	color: #F1BE06;
}

.posting .topic {
	font-style: italic;
	text-decoration: none;
}

.posting A.topic:hover {
	text-decoration: underline;
}

.posting .bottom {
	border-top: 1px solid #52739C;
	margin-top: 1.5ex;
}

.posting .bottom A {
	font-size: 8pt;
	color: black;
	text-decoration: none;
}

.posting .bottom A:hover {
	color: blue;
	text-decoration: underline;
}
/* TABLE.forum {
	background-color: #FFF09B;
}

TABLE.complain {
	background-color: #FFBFB9;
}

TABLE.topics {
	background-color: #E8E8E8;
}*/
