/* @(#) $Id$ */

TABLE.forum {
	background-color: #FFF09B;
	/*border: 1px solid black;*/
}

TABLE.complain {
	background-color: #FFBFB9;
	/*border: 1px solid black;*/
}

TABLE.message {
	background-color: #D8E2FF;
	/*border: 1px solid black;*/
}
