/* FIXME not used */
.left-center-column {
    /*padding-left: 150px;*/
}

.left-column {
    .eframe ();
    float: left;
    width: 150px;
    padding: 5px;
    margin-right: 2px;
}

.center-column {
    .cframe ();
    display: inline-block;
    padding: 5px;
}

.center-right-column {
    .center-column ();
    padding-right: 135px;
}

.right-column {
    .nframe ();
    float: right;
    width: 130px;
    padding: 5px;
}
