.center-column {
    .cframe ();
    display: flex;
    align-items: start;
}

.center-column-content {
    flex: auto;
    margin: 5px;
}

.right-column {
    .nframe ();
    flex: none;
    width: 130px;
    margin: 5px;
    padding: 5px;
}
