.mtimes {
    .issue {
        font: bold 24pt @times;
        text-align: center;
    }

    .month {
        font-family: @courier;
        font-size: 9pt;
        text-align: center;
    }

    .posting .subject A {
        font-size: 12pt;
    }

    .info {
        &, DD {
            font-weight: normal;
            text-align: left;
        }

        DD {
            margin-left: 40pt;
        }

        B, DT {
            font-weight: bold;
        }

        P {
            text-align: left;
        }
    }
}

.mtimes-navigator {

    .pic {
        margin-bottom: 0;
    }

    .issue {
        text-align: center;
        font-size: 9pt;
        font-weight: bold;
    }
}

.timesnfo {
    .nframe ();
	padding: .5em;
	margin: .5em;
    float: right;
    height: 70px;
    line-height: 70px;

    A {
        display: inline-block;
        vertical-align: middle;
        font: bold 24pt @times;
        color: @timesnfo;
        text-decoration: none;

        &:hover {
            color: @timesnfo_hover;
            text-decoration: underline;
        }
    }
}
