.ninept {
	font-size: 9pt;
}

.eightpt {
	font-size: 8pt;
}

.clear-floats {
    height: 0;
    clear: both;
}

BODY {
	margin: 0;
	font-size: 10pt;
	font-family: @verdana;

    &.error-page {
        background-color: @body_404_back;
        background-image: none;
        padding: 10px;
    }
}

@media only screen {
    BODY {
        background-color: @body_back;
        background-image: url(@body_back_pic);
    }
}

.page-title {
	margin: 0 70px 2ex 10px;
	text-align: left;
	color: @title;
	font: bold 18pt @courier;
}

.name {

    A&, SPAN& {
        color: @name;
        font-weight: bold;
        font-size: 9pt;
    }
}

SPAN.guest-name {
	color: @name;
	font-style: italic;
	font-size: 9pt;
}

.sent {
	color: @sent;
	font-size: 9pt;
}

.ears IMG {
	display: block;
	margin-bottom: 5px;
}

TT {
	font-family: @courier;
}

EM {
	color: @em;
	font-weight: bold;
	font-style: normal;
}
