UL.eightpt LI {
    padding-top: 2px;
    padding-bottom: 2px;
}

.topics {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: normal;

    &-header {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        color: @topics_title;
        border-bottom: solid 1px @topics_title;
        text-align: left;
        font-weight: bold;
        font-size: 10pt;
	    line-height: normal;
    }

    LI {
        padding-bottom: 4px;
        padding-left: 15px;
        background: url('/pics/bullet.gif') no-repeat top left;

        &.topics {
            &-static {
                background-image: url('/pics/bullet-mrd.gif');
            }

            &-arrow {
                font-weight: bold;
                background-image: url('/pics/arrow.gif');
            }

            &-ner-arrow {
                font-weight: bold;
                background-image: url('/pics/arrow-ner.gif');
            }

            &-ner {
                background-image: url('/pics/ner-small.gif');
            }

            &-nobullet {
                background-image: none;
                padding-left: 0;
            }

            &-subtable {
                display: inline-block;	// Fixes extra space in IE
                background-image: none;
            }

            &-view-all {
                background-image: none;
                padding-left: 0;
                font-weight: bold;
                font-size: 8pt;
                text-align: center;
            }

            &-section {
                background-image: none;
                padding-left: 0;
                color: @topics_section;
                font-weight: bold;
                font-size: 8pt;
                margin-top: 10px;
            }

            &-comment {
                background-image: none;
                color: @topics_comment;
            }
        }
    }

    A.edit {
        color: @topics_controls;
        font-size: 8pt;

        &:hover {
            color: @topics_controls_hover;
        }
    }

    A&-item {
        color: @topics_names;
        text-decoration: none;

        &:hover {
            color: @topics_names_hover;
            text-decoration: underline;
        }
    }

    A.new { //FIXME remake
        color: @topics_new;
        font-style: italic;

        &:hover { //FIXME remake
            color: @topics_names_hover;
        }
    }

    &-answers {
        color: @topics_answers;
    }

    A&-item:hover > &-answers {
        color: @topics_names_hover;
    }

    .rating {
        font-size: 7pt;
    }
}

.up-level {
	font-size: 9pt;
	background: url("/pics/up-level.gif") no-repeat left center;
	margin: 0;
	padding-left: 25px;
}
