.pictures {

    .pic {
        margin: 1px;
    }

}

.picture-controls {
    display: none;
}

.fancybox-caption {

    .sent {
        margin-top: .5ex;
    }

    .picture-bottom {
        margin-top: 1ex;
        clear: both;

        A {
            font-size: 8pt;
            color: @posting_controls;
            text-decoration: none;

            &:hover {
                color: @posting_controls_hover;
                text-decoration: underline;
            }
        }
    }

    IMG.vote-active {
        pointer-events: all;
    }
}
