{{#*inline "batcher"}} {{! params: list }}
    <div class="batcher">
        <div class="adder">
            {{image "/pics/sheet.gif"}}
            <a href="/admin/ears/add/?back={{ue rc.location}}">Добавить ушко</a>
        </div>
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{#*inline "errorLines"}}
    {{#if errors}}
        <table class="form" width="100%">
            {{formErrors}}
        </table>
    {{/if}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<div class="columns">
    <div class="left-column">
        {{> (topicsPartial)}}
    </div>
    <div class="center-column">
        <div class="center-column-content">
            {{subtitle}}
            {{> errorLines}}
            {{> batcher list=postings}}
            {{#if postings}}
                {{#each postings}}
                    {{> part/posting-ear posting=this}}
                {{/each}}
                {{> batcher list=postings}}
            {{/if}}
        </div>
    </div>
</div>

{{> part/bottom}}