{{#*inline "batcher"}} {{! params: list }}
    <div class="batcher">
        <div class="adder">
            {{image "/pics/sheet.gif"}}
            <a href="/admin/postings/add/?grp=*GRP_NEWS&amp;full=1&amp;redirid=$_">Добавить сообщение</a>
        </div>
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{#*inline "errorLines"}}
    {{#if errors}}
        <table>
            {{formErrors}}
        </table>
    {{/if}}
{{!  <error id='*EMH_NO_ENTRY' text='Такого сообщения не существует'>
  <error id='*EMH_NO_MODERATE' text='Вы не модератор'>
  <error id='*EMR_NO_RENEW' text='Вы не модератор'>
  <error id='*EMR_NO_ENTRY' text='Такого сообщения не существует'>
  <error id='*EPD_NO_DELETE' text='Вы не модератор'>
  <error id='*EPD_POSTING_ABSENT' text='Такого сообщения не существует'> }}
{{/inline}}

{{#*inline "topicChoice"}} {{! params: title,n,id,recursive }}
    <tr>
        <td>{{{title}}}</td>
        <td>{{topicSelect list=topicNames name="topicIds" value=id}}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            {{checkbox title="С подтемами" name="recursive" value=n checked=recursive}}
        </td>
    </tr>
{{/inline}}

{{#*inline "post"}} {{! params: posting }}
    <table class="posting" width="100%">
        <tr><td>
            {{#assign "topicLink"}}
                <a href="?topicIds={{posting.topicId}}" class="posting-topic">
                    {{#each posting.ancestors}}
                        {{subject}}
                        {{#unless @last}} :: {{/unless}}
                    {{/each}}
                </a>
            {{/assign}}
            {{asp topicLink}} // {{posting.grpTitle}}
        </td></tr>
        <tr><td>
            <b><a href="{{posting.grpDetailsHref}}">{{posting.heading}}</a></b>
            {{#if posting.ident}}
                [{{posting.ident}}={{posting.id}}]
            {{else}}
                [{{posting.id}}]
            {{/if}}
        </td></tr>
        <ifnzero what="$posting.VoteCount">
            <tr><td>
                $posting.RatingString
                &nbsp;
                <array vals="голос,голоса,голосов">
                <plural value="$posting.VoteCount">
                ($posting.VoteCount&sp;$,)
            </td></tr>
        </ifnzero>
        {{#if posting.hasImage}}
            <tr><td>
                <a href="{{posting.imageUrl}}">Картинка</a>
                &nbsp;
                {{posting.imageX}}x{{posting.imageY}}, {{posting.imageSizeKb}}KB
            </td></tr>
        {{/if}}
        <tr><td class="sent">
            <sentview date="$posting.Sent">&nbsp;<asp>
            <asp>(<asp><sentview date="$posting.Modified">)
            <senderlink message="$posting">
        </td></tr>
        <tr><td class="posting-bottom">
            {{#if pposting.hidden}}
                <b>[X]</b>
                &nbsp;
            {{/if}}
            <a href="/admin/postings/$posting.Id/edit/?full=1&amp;redirid=$_">Изменить</a>
            &nbsp;
            <if what="$posting.isDisabled">
                <a href="/actions/entry/moderate?editid=$posting.Id&amp;hide=0&amp;okdir=$#-&amp;faildir=$#-">Разрешить&nbsp;показ</a>
            <else>
                <a href="/actions/entry/moderate?editid=$posting.Id&amp;hide=1&amp;okdir=$#-&amp;faildir=$#-">Запретить&nbsp;показ</a>
            </if>
            &nbsp;
            <a href="/actions/entry/renew?id=$posting.Id&amp;okdir=$#-&amp;faildir=$#-">Осовременить</a>
            &nbsp;
            <a href="/actions/posting/delete?id=$posting.Id&amp;okdir=$#-&amp;faildir=$#-">Удалить</a>
            &nbsp;
            <a href="/admin/postings/$posting.Id/chmod/?redirid=$_">Права</a>
            &nbsp;
            <a href="/admin/postings/$posting.Id/modbits/?redirid=$_">Флаги</a>
        </td></tr>
    </table>
    <p>
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<style>
    .padded TD {
        padding: 5px;
    }
</style>
<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{topics}}
        </td>
        <td style="padding: 0">
            <form method="get" action="/admin/postings">
                <table class="ninept nframe padded">
                    <tr><td colspan="2">
                        {{subtitle}}
                    </td></tr>
                    <tr><td align="left" colspan="2"><table>
                        {{#assign "title"}}Тема{{/assign}}
                        {{#each adminPostingsForm.topicChoices}}
                            {{> topicChoice title=title n=n id=topicId recursive=recursive}}
                            {{#assign "title"}}<i>Или</i>{{/assign}}
                        {{/each}}
                    </table></td></tr>
                    <tr><td align="left" colspan="2">Тип сообщения</td></tr>
                    <tr valign="top">
                        <td align="left">
                            {{grpSelect name="grps" value=adminPostingsForm.grps size="6" multiple=true}}
                        </td>
                        <td align="left"><table>
                            <tr>
                                <td>{{checkboxButton name="useIndex1" checked=adminPostingsForm.useIndex1}}</td>
                                <td>Номер </td>
                                <td>{{edit name="index1" value=adminPostingsForm.index1 size="8" maxlength="8"}}</td>
                            </tr>
                        </table></td>
                    </tr>
                    <tr><td align="left" colspan="2">
                        <table cellspacing="10"><tr>
                            <td><input type="submit" value="Просмотр"></td>
                            <td><input type="reset" value="Очистить"></td>
                        </tr></table>
                    </td></tr>
                    <tr><td class="info" colspan="2">
                        Выбрано&nbsp;<em>{{postingsTotal}}</em>&nbsp;{{plural postingsTotal "сообщение,сообщения,сообщений"}}
                    </td></tr>
                </table>
            </form>
            <table class="ninept cframe" width="100%"><tr><td style="padding: 5px">
                {{> errorLines}}
                {{> batcher list=postings}}
                {{#if postings}}
                    {{#each postings}}
                        {{> post posting=this}}
                    {{/each}}
                    {{> batcher list=postings}}
                {{/if}}
            </td></tr></table>
        </td>
    </tr>
</table>

{{> part/bottom}}