{{#*inline "batcher"}} {{! params: list }}
    <div class="batcher">
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{#*inline "buttons"}}
    <div style="text-align: right; padding: 3px">
        <input type="button" value="Авто" id="auto">
        &nbsp;
        <input type="submit" value="Сохранить">
        <input type="reset" value="Очистить">
    </div>
{{/inline}}

{{#*inline "selector"}}
    <form method="get" action="/admin/moderator">
        <table class="nframe"><tr>
            <td style="padding: 3px">
                {{hidden name="asc" value=adminModeratorForm.asc}}
                {{#if adminModeratorForm.asc}}
                    <a href="{{location "asc" 0}}">{{image "/pics/up-level.gif"}}</a>
                {{else}}
                    <a href="{{location "asc" 1}}">{{image "/pics/down-level.gif"}}</a>
                {{/if}}
            </td>
            <td style="padding: 3px">
                <select name="bit">
                    {{selectOption title="(h) Не показывать" value=const.postingModbit.HIDDEN
                                   selectedValue=adminModeratorForm.bit}}
                    {{selectOption title="(d) Запретить" value=const.postingModbit.DISABLED
                                   selectedValue=adminModeratorForm.bit}}
                    {{#each const.postingModbits}}
                        {{#unless special}}
                            {{#assign "title"}}({{letter}}) {{description}}{{/assign}}
                            {{selectOption title=title value=value selectedValue=adminModeratorForm.bit}}
                        {{/unless}}
                    {{/each}}
                </select>
            </td>
            <td style="padding: 3px"><input type="submit" value="Просмотр"></td>
        </tr></table>
    </form>
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{> (topicsPartial)}}
        </td>
        <td class="cframe">
            {{subtitle}}
            {{> selector}}
            <br><br>
            {{> batcher list=postings}}
            {{#if errors}}
                <table class="form" width="100%">
                    {{formErrors}}
                </table>
            {{/if}}
            <form method="post" action="/actions/postings/modbits" style="margin: 0">
                {{hidden name="back" value=rc.location}}
                {{> buttons}}
                {{#catalogTable}}
                    <tr>
                        <th class="catalog-cell" width="40">id</th>
                        <th class="catalog-cell">Заголовок</th>
                        <th class="catalog-cell" width="20">h</th>
                        <th class="catalog-cell" width="20">d</th>
                        {{#each const.postingModbits}}
                            {{#unless special}}
	                            <th class="catalog-cell" width="20">{{letter}}</th>
                            {{/unless}}
	                    {{/each}}
                        <th class="catalog-cell" width="20">уд</th>
                        <th class="catalog-cell" width="20">сп</th>
                    </tr>
                    {{#each postings}}
                        {{#if @odd}}
                            {{#assign "class"}}catalog-cell-odd{{/assign}}
                        {{else}}
                            {{#assign "class"}}catalog-cell{{/assign}}
                        {{/if}}
                        {{#assign "name"}}modbits[{{id}}]{{/assign}}
                        <tr height="40">
	                        <td class="{{class}}" width="40" align="right" style="vertical-align: top">
	                            {{id}}
	                            {{hidden name="ids" value=id}}
	                        </td>
	                        <td class="{{class}}">
	                            <a href="{{grpDetailsHref}}" class="ninept">{{heading}}</a><br>
	                            <span class="subject eightpt">
                                    (Раздел <a href="{{grpGeneralHref}}" class="posting-topic">{{grpGeneralTitle}}</a>)
                                </span>
	                        </td>
	                        <td class="{{class}} moderator-cell" align="center">
	                            {{checkboxButton name=name value=const.postingModbit.HIDDEN checked=hidden}}
	                        </td>
	                        <td class="{{class}} moderator-cell" align="center">
                                {{checkboxButton name=name value=const.postingModbit.DISABLED checked=disabled}}
	                        </td>
                            {{#each modbitsSelection}}
                                <td class="{{class}} moderator-cell moderator-{{lc value.name}}" align="center">
                                    {{checkboxButton name=name value=value.value checked=selected}}
                                </td>
                            {{/each}}
	                        <td class="{{class}} moderator-cell" align="center">
                                {{checkboxButton name=name value=const.postingModbit.DELETE}}
	                        </td>
	                        <td class="{{class}} moderator-cell moderator-spam" align="center">
                                {{checkboxButton name=name value=const.postingModbit.SPAM}}
	                        </td>
                        </tr>
                    {{/each}}
                {{/catalogTable}}
                {{> buttons}}
            </form>
            {{> batcher list=postings}}
        </td>
    </tr>
</table>

{{> part/bottom}}