{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{> (topicsPartial)}}
        </td>
        <td class="cframe">
            {{subtitle}}
            <table class="topics">
                {{#adminUsers}}
                    <tr><td colspan="2">
                        <a href="/admin/groups/add" class="edit">Добавить</a>
                    </td></tr>
                {{/adminUsers}}
                {{#each groups}}
                    <tr class="ninept">
                        <td><b>{{groupName}}</b></td>
                        <td width="20">&nbsp;</td>
                        <td>
                            {{#adminUsers}}
                                <a href="/admin/groups/add?group_name={{ue groupName}}"
                                   class="edit">Добавить</a>&nbsp;
                            {{/adminUsers}}
                            {{#each users}}
                                {{#assign "comma"}}{{#unless @last}},&nbsp;{{/unless}}{{/assign}}
                                {{#adminUsers}}
                                    <a href="/actions/group/delete?userId={{id}}&amp;groupId={{groupId}}"
                                       title="Удалить">{{login}}</a>{{comma}}
                                {{else}}
                                    {{login}}{{comma}}
                                {{/adminUsers}}
                            {{/each}}
                        </td>
                    </tr>
                {{/each}}
            </table>
        </td>
    </tr>
</table>

{{> part/bottom}}