{{#*inline "hd"}} {{! params: item }}
    <a href="/admin/topics/{{item.trackPath}}" title="{{item.bodyNormal}}">{{item.subject}}</a>
    {{#if item.ident}}
        [{{item.ident}}={{item.id}}]
    {{else}}
        [{{item.id}}]
    {{/if}}
    <br>{{item.catalog}}
{{/inline}}

{{#*inline "branch"}} {{! params: node, upPath, append, write }}
    {{#if node.id}}
        {{#if write}}
            <br>
        {{else}}
            {{#if append}}
                <br>
            {{/if}}
        {{/if}}
    {{/if}}
    {{#if append}}
        <a href="/admin/topics/{{upPath}}add/?back={{ue location}}" class="edit">Добавить</a>
    {{/if}}
    {{#if node.id}}
        {{#if write}}
            <a href="/admin/topics/{{upPath}}edit/?back={{ue location}}" class="edit">Изменить</a>
            <a href="/admin/topics/{{upPath}}delete/?back={{ue location}}" class="edit">Удалить</a>
            <a href="/admin/topics/{{upPath}}chmod/?back={{ue location}}" class="edit">Права</a>
            <a href="/admin/topics/{{upPath}}reorder/?back={{ue location}}" class="edit">Расставить</a>
        {{/if}}
    {{/if}}
    {{#unless node.children.empty}}
        <ul class="topics">
            {{#each node.children}}
                <li>
                    {{#with element}}
                        {{> hd item=this}}<br>
                        <tt>{{permString}}&nbsp;{{user.login}}:{{group.login}}</tt>
                    {{/with}}
                    {{> branch node=this upPath=element.trackPath append=element.appendable write=element.writable}}
                </li>
            {{/each}}
        </ul>
    {{/unless}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{topics}}
        </td>
        <td class="cframe">
            {{subtitle}}
            <div class="topics ninept" style="padding: 0px">
                {{#if up}}
                    {{image "/pics/up-level.gif"}}
                    <a href="/admin/topics/{{up.parentTrackPath}}" class="ninept">На уровень вверх</a>
                    <p>&nbsp;</p>
                    <a href="/admin/topics/">Все темы</a>
                    {{#each ancestors}}
                        :: <a href="/admin/topics/{{trackPath}}">{{subject}}</a>
                    {{/each}}
                    {{#if up.ident}}
                        [{{up.ident}}={{up.id}}]
                    {{else}}
                        [{{up.id}}]
                    {{/if}}
                    {{> branch node=topicTree upPath=up.trackPath append=up.appendable write=up.writable}}
                {{else}}
                    {{> branch node=topicTree upPath="" append=rc.userAdminTopics write=rc.userAdminTopics}}
                {{/if}}
            </div>
        </td>
    </tr>
</table>

{{> part/bottom}}