<ident name='up'>

{{#*inline "hd"}} {{! params: item }}
    <a href="/admin/topics/{{item.trackPath}}" title="$=item.BodyNormal">{{item.subject}}</a>
    {{#if item.ident}}
        [{{item.ident}}={{item.id}}]
    {{else}}
        [{{item.id}}]
    {{/if}}
    <br>{{item.catalog}}
{{/inline}}

{{#*inline "branch"}} {{! params: node, upPath, append, write }}
    {{#if node.parent}}
        {{#if write}}
            <br>
        {{else}}
            {{#if append}}
                <br>
            {{/if}}
        {{/if}}
    {{/if}}
    {{#if append}}
        <a href="/admin/topics/{{upPath}}add/?redirid=$_" class="edit">Добавить</a>
    {{/if}}
    {{#if node.parent}}
        {{#if write}}
            <a href="/admin/topics/{{upPath}}edit/?redirid=$_" class="edit">Изменить</a>
            <a href="/admin/topics/{{upPath}}delete/?redirid=$_" class="edit">Удалить</a>
            <a href="/admin/topics/{{upPath}}chmod/?redirid=$_" class="edit">Права</a>
            <a href="/admin/topics/{{upPath}}reorder/?redirid=$_" class="edit">Расставить</a>
        {{/if}}
    {{/if}}
    {{#unless node.children.empty}}
        <ul class="topics">
            {{#each node.children}}
                <li>
                    {{#with element}}
                        {{> hd item=this}}<br>
                        <tt>{{permString}}&nbsp;{{user.login}}:{{group.login}}</tt>
                    {{/with}}
                    {{> branch node=this upPath=element.trackPath append=element.appendable write=element.writable}}
                </li>
            {{/each}}
        </ul>
    {{/unless}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{topics}}
        </td>
        <td class="cframe">
            {{subtitle}}
            <div class="topics ninept" style="padding: 0px">
                {{#if up}}
                    <topic_full_name name='full_name' id='$up'>
                    <topic_obj id='$up'>
                    <table><tr>
                        <td width=20><image src='/pics/up-level.gif'></td>
                        <td>
                            <a href='/admin/topics/$,ParentTrackPath' class='ninept'>На уровень вверх</a>
                        </td>
                    </tr></table>
                    <br>
                    <a href='/admin/topics/'>Все темы</a>
                    <iterate_topic_hierarchy name='hier' topic_id='$up'>
                    <for>
                        :: <a href='/admin/topics/$.TrackPath'>$=.Subject</a>
                        <islast what='$hier'>
                            <ifne what='$.Ident'>
                                <assign name='info' value#='[$=.Ident=$.Id]'>
                            <else>
                                <assign name='info' value#='[$.Id]'>
                            </ifne>
                        </islast>
                        &sp;$info
                    </for>
                    <assign name='up_path' value='$,TrackPath'>
                <else>
                    <assign name='up_path' value=''>
                {{/if}}
                {{> branch node=topicTree upPath="" append=rc.userAdminTopics write=rc.userAdminTopics}}
            </div>
        </td>
    </tr>
</table>

{{> part/bottom}}