{{#*inline "batcher"}} {{! params: list }}
    <div class="batcher">
        <div class="adder">
            {{image "/pics/sheet.gif"}}
            <a href="/admin/postings/add/?full=1&amp;back={{ue rc.location}}">Добавить сообщение</a>
        </div>
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{#*inline "errorLines"}}
    {{#if errors}}
        <table class="form" width="100%">
            {{formErrors}}
        </table>
    {{/if}}
{{/inline}}

{{#*inline "topicChoice"}} {{! params: title,n,id,recursive }}
    {{{title}}}
    &nbsp;
    {{topicSelect list=topicNames name="topicIds" value=id}}<br>
    <div style="padding-left: 3em">
        {{checkbox title="С подтемами" name="recursive" value=n checked=recursive}}
    </div>
{{/inline}}

{{#*inline "post"}} {{! params: posting }}
    <div class="posting">
        {{#assign "topicLink"}}
            <a href="{{location "topicIds" posting.topicId}}" class="posting-topic">
                {{#each posting.ancestors}}
                    {{subject}}
                    {{#unless @last}} :: {{/unless}}
                {{/each}}
            </a>
        {{/assign}}
        {{asp topicLink}} // {{posting.grpTitle}}
        <br>
        <b><a href="{{posting.grpDetailsHref}}">{{posting.heading}}</a></b>
        {{#if posting.ident}}
            [{{posting.ident}}={{posting.id}}]
        {{else}}
            [{{posting.id}}]
        {{/if}}
        <br>
        {{#if posting.voteCount}}
            {{posting.ratingString}}
            &nbsp;
            ({{posting.voteCount}} {{plural posting.voteCount "голос,голоса,голосов"}})
            <br>
        {{/if}}
        {{#if posting.hasImage}}
            <a href="{{posting.imageUrl}}" class="enlargeable">Картинка</a>
            &nbsp;
            {{posting.imageX}}x{{posting.imageY}}, {{posting.imageSizeKb}}KB
            <br>
        {{/if}}
        <div class="sent">
            {{sentView date=posting.sent}}&nbsp;({{sentView date=posting.modified}})
            {{senderLink posting}}
        </div>
        <div class="posting-bottom">
            {{#if posting.hidden}}
                <b>[X]</b>
                &nbsp;
            {{/if}}
            <a href="/admin/postings/{{posting.id}}/edit/?full=1&amp;back={{ue rc.location}}">Изменить</a>
            &nbsp;
            {{#if posting.disabled}}
                <a href="/actions/entry/moderate?id={{posting.id}}&amp;hide=0&amp;back={{ue rc.location}}">Разрешить&nbsp;показ</a>
            {{else}}
                <a href="/actions/entry/moderate?id={{posting.id}}&amp;hide=1&amp;back={{ue rc.location}}">Запретить&nbsp;показ</a>
            {{/if}}
            &nbsp;
            <a href="/actions/entry/renew?id={{posting.id}}&amp;back={{ue rc.location}}">Осовременить</a>
            &nbsp;
            <a href="/actions/posting/delete?id={{posting.id}}&amp;back={{ue rc.location}}">Удалить</a>
            &nbsp;
            <a href="/admin/postings/{{posting.id}}/chmod/?back={{ue rc.location}}">Права</a>
            &nbsp;
            <a href="/admin/postings/{{posting.id}}/modbits/?back={{ue rc.location}}">Флаги</a>
        </div>
    </div>
    <p>
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<style>
    .selector {
        width: 50%;
        padding: 5px;
    }
    .selector INPUT[type=checkbox] {
        position: relative;
        top: 3px;
        margin-right: 5px;
    }
</style>
<div class="page-layout">
    <div class="left-column">
        {{> (topicsPartial)}}
    </div>
    <div style="flex: auto">
        <form method="get" action="/admin/postings">
            <div class="ninept nframe selector" style="">
                {{subtitle}}

                {{#assign "title"}}Тема{{/assign}}
                {{#each adminPostingsForm.topicChoices}}
                    {{> topicChoice title=title n=n id=topicId recursive=recursive}}
                    {{#assign "title"}}<i>Или</i>{{/assign}}
                {{/each}}
                <div style="display: flex; margin-left: 5px; margin-top: 1ex">
                    <div style="flex: 1">
                        Тип сообщения<br>
                        {{grpSelect name="grps" value=adminPostingsForm.grps size="6" multiple=true}}
                    </div>
                    <div style="flex: 1; align-self: flex-start">
                        {{checkboxButton name="useIndex1" checked=adminPostingsForm.useIndex1}}
                        Номер
                        {{edit name="index1" value=adminPostingsForm.index1 size="8" maxlength="8"}}
                    </div>
                </div>
                <div style="padding: 5px">
                    <input type="submit" value="Просмотр">
                    &nbsp;
                    <input type="reset" value="Очистить">
                </div>
                <div class="info" style="padding: 5px">
                    Выбрано&nbsp;<em>{{postingsTotal}}</em>&nbsp;{{plural postingsTotal "сообщение,сообщения,сообщений"}}
                </div>
            </div>
        </form>
        <div class="ninept cframe" style="width: 100%; padding: 5px">
            {{> errorLines}}
            {{> batcher list=postings}}
            {{#if postings}}
                {{#each postings}}
                    {{> post posting=this}}
                {{/each}}
                {{> batcher list=postings}}
            {{/if}}
        </div>
    </div>
</div>

{{> part/bottom}}