<ident name='up'>

{{#*inline "hd"}} {{! params: item }}
    <a href="/admin/topics/{{item.trackPath}}" title="$=item.BodyNormal">{{item.subject}}</a>
    {{#if item.ident}}
        [{{item.ident}}={{item.id}}]
    {{else}}
        [{{item.id}}]
    {{/if}}
    <br>{{item.catalog}}
{{/inline}}

{{#*inline "oldbranch"}} {{! params: up, up_path, append, write, root }}
    <iterate_topiclist grp='*GRP_ALL' up='$up'>
    <if what='$up!=0 && ($append || $write)'>
        <br>
    </if>
    <if what='$append'>
        <a href='/admin/topics/${up_path}add/?redirid=$_' class='edit'>Добавить</a>
    </if>
    <if what='$up!=0 && $write'>
        <a href='/admin/topics/${up_path}edit/?redirid=$_' class='edit'>Изменить</a>
        <a href='/admin/topics/${up_path}delete/?redirid=$_' class='edit'>Удалить</a>
        <a href='/admin/topics/${up_path}chmod/?redirid=$_' class='edit'>Права</a>
        <a href='/admin/topics/${up_path}reorder/?redirid=$_' class='edit'>Расставить</a>
    </if>
    <ifnzero what='$;Count'>
        <ul class='topics'>
            <for>
                <li><hd item='$.'><br>
                <tt>$.PermString&nbsp;$=.Login:$=.GroupLogin</tt>
                <branch up='$.Id' up_path='$.TrackPath' append='$.isAppendable' write='$.isWritable'>
            </for>
        </ul>
    </ifnzero>
{{/inline}}

{{#*inline "branch"}} {{! params: node }}
    {{#unless node.children.empty}}
        <ul class="topics">
            {{#each node.children}}
                <li>
                    {{#with element}}
                        {{> hd item=this}}<br>
                        <tt>{{permString}}&nbsp;{{user.login}}:{{group.login}}</tt>
                    {{/with}}
                    {{> branch node=this}}
                </li>
            {{/each}}
        </ul>
    {{/unless}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{topics}}
        </td>
        <td class="cframe">
            {{subtitle}}
            <div class='topics ninept' style='padding: 0px'>
                {{#if up}}
                    <topic_full_name name='full_name' id='$up'>
                    <topic_obj id='$up'>
                    <table><tr>
                        <td width=20><image src='/pics/up-level.gif'></td>
                        <td>
                            <a href='/admin/topics/$,ParentTrackPath' class='ninept'>На уровень вверх</a>
                        </td>
                    </tr></table>
                    <br>
                    <a href='/admin/topics/'>Все темы</a>
                    <iterate_topic_hierarchy name='hier' topic_id='$up'>
                    <for>
                        :: <a href='/admin/topics/$.TrackPath'>$=.Subject</a>
                        <islast what='$hier'>
                            <ifne what='$.Ident'>
                                <assign name='info' value#='[$=.Ident=$.Id]'>
                            <else>
                                <assign name='info' value#='[$.Id]'>
                            </ifne>
                        </islast>
                        &sp;$info
                    </for>
                    <assign name='up_path' value='$,TrackPath'>
                <else>
                    <assign name='up_path' value=''>
                {{/if}}
                {{> branch node=topicTree}}
                <branch up='$up' up_path='$up_path' append='$userAdminTopics' write='$userAdminTopics' root='*true'>
            </div>
        </td>
    </tr>
</table>

{{> part/bottom}}