{{> part/preamble}}
{{> part/top}}

<div class="columns">
    <div class="left-column">
        {{> (topicsPartial)}}
        {{> part/ears}}
    </div>
    <div class="center-column">
        <div class="center-column-content article">
            <div class="sent">
                {{sentView date=posting.sent}}<br>
                {{senderLink posting}}
            </div>
            {{articleControls posting=posting}}
            <div class="clear-floats"></div>
            {{votePanel align="right" id=posting.id rating=posting.rating}}
            <h1>
                {{topicLink posting}}<br>
                {{posting.subject}}
                {{#if posting.author}}
                    <div class="author">{{mtext posting.authorMtext}}</div>
                {{/if}}
            </h1>
            <div class="preface">
                {{mtext posting.bodyMtext}}
            </div>
            {{article posting innerImages=innerImages}}
            {{postingShare}}
            {{articleControls posting=posting}}
            <div class="clear-floats"></div>
            <br>
            {{> part/comments comments=comments posting=posting}}
        </div>
    </div>
</div>

{{> part/bottom}}
