{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        {{#notPrint}}
        <td width="150" class="eframe">
            {{> (topicsPartial)}}
            {{> part/ears}}
        </td>
        {{/notPrint}}
        <td class="article cframe">
            {{articleControls posting=posting}}
            <div class="sent">
                {{sentView date=posting.sent}}<br>
                {{senderLink posting}}
            </div>
            <h1>
                {{topicLink posting}}<br>
                {{posting.subject}}
                {{#if posting.author}}
                    <div class="author">{{mtext posting.authorMtext}}</div>
                {{/if}}
            </h1>
            <div class="preface">
                {{mtext posting.bodyMtext}}
            </div>
            {{article posting}}
            {{postingShare}}
            {{articleControls posting=posting}}
        </td>
    </tr>
</table>W

{{> part/bottom}}
