{{> part/preamble}}
{{> part/top}}

<div class="page-layout">
    <div class="left-column">
        {{> (topicsPartial)}}
        {{> part/ears}}
    </div>
    <div class="center-column">
        <div class="center-column-content article">
            <div class="sent">
                {{sentView date=posting.sent}}<br>
                {{senderLink posting}}
            </div>
            {{articleControls posting=posting}}
            <div class="clear-floats"></div>
            {{votePanel align="right" id=posting.id rating=posting.rating}}
            <div style="margin-left: 100px; clear: both">
                {{#if posting.hasImage}}
                    {{postingImage posting=posting}}
                {{/if}}
                {{topicLink posting}}
                {{#if posting.author}}
                    <p class="posting-author">{{mtext posting.authorMtext}}</p>
                {{/if}}
                <p><h1 style="margin: 0">{{posting.subject}}</h1></p>
                {{#if posting.comment0}}
                    <p class="posting-source" style="text-align: left">{{mtext posting.comment0Mtext}}</p>
                {{/if}}
                <p style="clear: left">{{mtext posting.bodyMtext}}</p>
                {{#notPrint}}
                    {{#if firstChapter}}
                        <p>
                            {{image "/pics/further.gif"}}
                            <a href="{{firstChapter.grpDetailsHref}}">Читать книгу</a><br>
                            {{image "/pics/print.gif"}}
                            <a href="{{posting.grpDetailsHref}}print/">Вся книга для печати</a><br>
                            {{! <iterate_packages posting_id="$postid">
                            <for>
                                <tr valign="center">
                                    <td align="right"><image src="/pics/package.gif"></td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <if what="$.Type==*PT_BOOK_ONEFILE">
                                            <assign name="title" value="Вся книга одним файлом в архиве">
                                        <else>
                                            <assign name="title" value="Вся книга по главам в архиве">
                                        </if>
                                        <a href="$.Href">$title</a>
                                    </td>
                                </tr>
                                <tr valign="center">
                                    <td colspan="2">&nbsp;</td>
                                    <td><i>(ZIP, ${.SizeKB}KB)</i></td>
                                </tr>
                            </for> }}
                        </p>
                    {{/if}}
                {{/notPrint}}
            </div>
            {{postingShare}}
            {{articleControls posting=posting}}
            <div class="clear-floats"></div>
            <br>
            {{> part/forums forums=comments posting=posting}}
        </div>
    </div>
</div>

{{> part/bottom}}
