{{#*inline "bookRing"}}
    <div class="ring">
        <div class="chapter-prev">
            {{#if prevChapter}}
                <a href="{{book.grpDetailsHref}}{{prevChapter.id}}/"
                   title="Предыдущая глава">{{prevChapter.subject}}</a>
                {{image "/pics/left.gif"}}
            {{else}}
                &nbsp;
            {{/if}}
        </div>
        <div>
            <b><a href="{{book.grpDetailsHref}}" title="К началу книги">{{book.subject}}</a></b><br>
            {{image "/pics/up.gif"}}
        </div>
        <div class="chapter-next">
            {{#if nextChapter}}
                {{image "/pics/right.gif"}}
                <a href="{{book.grpDetailsHref}}{{nextChapter.id}}/"
                   title="Следующая глава">{{nextChapter.subject}}</a>
            {{else}}
                &nbsp;
            {{/if}}
        </div>
    </div>
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        {{#notPrint}}
            <td width="150" class="eframe">
                {{> (topicsPartial)}}
                {{> part/ears}}
            </td>
        {{/notPrint}}
        <td class="article cframe">
            <div class="sent">
                {{sentView date=posting.sent}}<br>
                {{senderLink posting}}
            </div>
            {{articleControls posting=posting}}
            {{> bookRing}}
            <h1>
                {{posting.subject}}
                {{#if posting.author}}
                    <div class="author">{{mtext posting.authorMtext}}</div>
                {{/if}}
            </h1>
            {{article posting innerImages=innerImages}}
            {{postingShare}}
            {{> bookRing}}
            {{articleControls posting=posting}}
            <div class="clear-floats"></div>
            <br>
            {{> part/forums forums=comments posting=posting}}
        </td>
    </tr>
</table>

{{> part/bottom}}
