{{> part/preamble}}
{{> part/top}}

{{#formTable title="Изменение прав на объект" mini=true}}
    {{formErrors}}
    <form method="post" action="/actions/entry/chmod">
        {{hidden name="back" value=rc.back}}
        {{hidden name="id" value=chmodForm.id}}
        {{hidden name="entryType" value=chmodForm.entryType}}
        {{starInfo}}
        {{formEdit title="Владелец" name="userName" value=chmodForm.userName size="20" maxlength="30"}}
        {{formEdit title="Группа" name="groupName" value=chmodForm.groupName size="20" maxlength="30"}}
        {{formEdit title="Права" name="permString" value=chmodForm.permString size="17" maxlength="17"
                   comment="Права, которые менять не нужно, заменяйте вопросительными знаками"}}
        {{#formSelect title="Рекурсивно" name="recursive" style="box"}}
            {{formOption title="Устанавливать эти права только для данного объекта" value=0
                         selected=(not chmodForm.recursive)}}
            {{formOption title="Устанавливать эти права для всех нижестоящих объектов" value=1
                         selected=chmodForm.recursive}}
        {{/formSelect}}
        {{formButtons title="Изменить"}}
    </form>
{{/formTable}}

{{> part/bottom}}