{{> part/preamble}}
{{> part/top}}

<form method="post" action="/actions/cross-entry/add">
    {{hidden name="back" value=rc.location}}
    {{hidden name="origin" value=rc.back}}
    {{hidden name="sourceName" value=crossEntryAddForm.sourceName}}
    {{hidden name="sourceId" value=crossEntryAddForm.sourceId}}
    {{hidden name="linkType" value=crossEntryAddForm.linkType}}
    {{#formTable title="Добавление перекрестной ссылки" mini=true}}
        {{formErrors}}
        {{starInfo}}
        {{formEdit title="ID цели" name="peerIdent" value=crossEntryAddForm.peerIdent size="75" maxlength="75"
                   mandatory=true comment="Идентификатор сообщения-цели"}}
        {{formButtons title="Добавить"}}
    {{/formTable}}
</form>

{{> part/bottom}}