{{#*inline "textears-block"}}
    {{#if textears}}
        <table style="margin: 0">
            <tr><td class="textears-title">Коротко о важном:</td></tr>
            <tr><td><ul class="ninept">
                {{#each textears}}
                    <li><a href="{{url}}">{{subject}}</a></li>
                {{/each}}
            </ul></td></tr>
        </table>
        <table width="100%" class="eightpt">
            <tr>
                <td rowspan="2" width="15%" height="5">&nbsp;</td>
                <td width="70%" height="5">&nbsp;</td>
                <td rowspan="2" width="15%" height="5">&nbsp;</td>
            </tr>
            <tr><td class="textears-split" height="5">&nbsp;</td></tr>
        </table>
    {{/if}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="170" class="eframe">
            {{topics}}
            {{> part/ears}}
        </td>
        <td class="cframe">
            <table class="page-layout"><tr valign="top">
                <td>
                    {{subtitle}}
                    {{> part/see-also}}
                    {{#unless topic}}
                        {{! daily_announce topic_id='$`migdal.events.kaitanot.5772.summer`'}}
                        {{> textears-block}}
                    {{/unless}}
                    <postings grp='*GRP_TAPE' topic_id='$id' limit=10 offset='$offset'
                              showshadows!='$id>0'>
                </td>
                <td width="130" class="nframe">
                    {{tzdaka}}
                    {{! tip}}
                    <hit_parade_month grp='*GRP_WRITINGS' topic_id='$id' showshadows!='$id>0'>
                    {{#unless topic}}
                        <discussions limit=7>
                    {{/unless}}
                </td>
            </tr></table>
        </td>
    </tr>
</table>

{{> part/bottom}}
