{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="170" class="eframe">
            {{topics}}
            {{> part/ears}}
        </td>
        <td class="cframe">
            <table class="page-layout"><tr valign="top">
                <td>
                    {{subtitle}}
                    <seealso_frame>
                    {{#unless topic}}
                        {{! daily_announce topic_id='$`migdal.events.kaitanot.5772.summer`'}}
                        {{! tweetfeed}}
                        <textears>
                    {{/unless}}
                    <postings grp='*GRP_TAPE' topic_id='$id' limit=10 offset='$offset'
                              showshadows!='$id>0'>
                    <rss>
                </td>
                <td width="130" class="nframe">
                    {{tzdaka}}
                    {{! tip}}
                    <hit_parade_month grp='*GRP_WRITINGS' topic_id='$id' showshadows!='$id>0'>
                    {{#unless topic}}
                        <discussions limit=7>
                    {{/unless}}
                </td>
            </tr></table>
        </td>
    </tr>
</table>

{{> part/bottom}}