{{#*inline "migdalNews"}}
    {{#topicsTable class="ninept" title="Новости"}}
        {{topicsLine text="Музей истории евреев Одессы" href="/migdal/museum/news/" class="none"}}
        {{topicsLine text="Мазл Тов" href="/migdal/mazltov/news/" class="none"}}
        {{topicsLine text="Бейтену" href="/migdal/beitenu/news/" class="none"}}
    {{/topicsTable}}
{{/inline}}

{{#*inline "events"}}
    {{#topicsTable class="eightpt" title="События"}}
        {{#assign "year"}}{{/assign}}
        {{#each events}}
            {{#ifne year yearName}}
                {{topicsSection title=yearName}}
                {{#assign "year"}}{{yearName}}{{/assign}}
            {{/ifne}}
            {{#assign "href"}}/{{catalog}}{{/assign}}
            {{topicsLine text=comment0 title=bodyNormal href=href class="none"}}
        {{/each}}
    {{/topicsTable}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{> (topicsPartial)}}
            {{> part/ears}}
        </td>
        <td class="center-column">
            <div class="center-column-content">
                {{subtitle}}
                {{> part/see-also}}
                {{> part/postings}}
            </div>
            {{#ifeq topic.ident "migdal"}}
                <div class="right-column">
                    {{> migdalNews}}
                    {{> events}}
                </div>
            {{/ifeq}}
        </td>
    </tr>
</table>

{{> part/bottom}}
