{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{> (topicsPartial)}}
            {{> part/ears}}
        </td>
        <td>
            <div class="cframe" style="padding: 5px; margin-bottom: 2ex">
                {{subtitle}}
                <div class="ninept" style="margin-bottom: 4ex">
                    <a href="/users/{{user.folder}}/?back={{ue rc.location}}">О пользователе {{user.login}}</a>
                </div>
                {{#unless galleryBegin}}
                    {{> part/postings}}
                {{/unless}}
            </div>
            {{> part/gallery}}
        </td>
    </tr>
</table>

{{> part/bottom}}
