{{> part/preamble}}
{{> part/top}}

<div class="page-layout">
    <div class="left-column">
        {{> (topicsPartial)}}
        {{> part/ears}}
    </div>
    <div style="flex: auto">
        <div class="cframe" style="padding-left: 10px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; margin-bottom: 2ex">
            {{subtitle}}
            <div class="ninept" style="margin-bottom: 4ex">
                <a href="/users/{{user.folder}}/?back={{ue rc.location}}">О пользователе {{user.login}}</a>
            </div>
            {{#unless galleryBegin}}
                {{> part/postings}}
            {{/unless}}
        </div>
        {{> part/gallery}}
    </div>
</div>

{{> part/bottom}}
