{{#*inline "intro"}}
    {{#ifeq topic.ident "taglit"}}
    <p>
        &laquo;Таглит-Birthright&raquo; &mdash; это программа, позволяющая еврейской
        молодежи со всего мира один раз бесплатно побывать в Израиле. Подробнее об
        этом вы можете узнать на <a href="http://www.birthrightisrael.com/">официальном сайте
        &laquo;Таглит-Birthright&raquo;</a>. Здесь же мы хотим собрать подлинные
        впечатления тех, кто уже ездил в Израиль по этой программе. Вы можете
        прочитать рассказы и посмотреть фотографии из поездок, а если вы сами были
        участником программы &mdash; поделитесь впечатлениями с другими.
    </p>
    <p>
        На сайте &laquo;Таглит-Birthright&raquo; есть похожий раздел под названием
        &laquo;Питомцы Таглита&raquo; но, даже если вы хорошо владеете английским и
        помните номер группы и фамилию гида, стать &laquo;питомцем&raquo;
        практически нереально. На нашем же сайте вам достаточно
        {{#notLogged}}
            <a href="/register/?back={{ue rc.location}}">зарегистрироваться</a> &mdash; и можете
            свободно добавлять свои рассказы и фотографии.
        {{else}}
            нажать на ссылку
            <a href="/taglit/add-peruser-forums?back={{ue rc.location}}">
                &laquo;Добавить заметку&raquo;</a> или
            <a href="/taglit/add-gallery?back={{ue rc.location}}">
                &laquo;Добавить фотографию&raquo;</a>.
        {{/notLogged}}
        Для каждого пользователя автоматически создается отдельный раздел.
    </p>
    {{/ifeq}}

    {{#ifeq topic.ident "veterans"}}
    <p>
        Судьба разбросала мигдалевцев по разным городам и странам. Много лет прошло с
        тех пор и много поколений сменилось. Но годы, прожитые в
        &laquo;Мигдале&raquo;, не забываются. Поэтому мы решили создать раздел, где
        нынешние мигдалевские пенсионеры могли бы встречаться и вспоминать былые
        времена.
    </p>
    <p>
        Если вы хотите поделиться с другими мигдалевскими ветеранами своими
        фотографиями, историями, впечатлениями или просто поболтать, вам достаточно
        {{#notLogged}}
            <a href="/register/?back={{ue rc.location}}">зарегистрироваться</a> &mdash; и можете
            свободно добавлять свои рассказы и фотографии.
        {{else}}
                нажать на ссылку
                <a href="/veterans/add-peruser-forums?back={{ue rc.location}}">
                    &laquo;Добавить заметку&raquo;</a> или
                <a href="/veterans/add-gallery?back={{ue rc.location}}">
                    &laquo;Добавить фотографию&raquo;</a>.
        {{/notLogged}}
        Для каждого пользователя автоматически создается отдельный раздел.
    </p>
    {{/ifeq}}
    <p>
        Чтобы открыть соответствующий раздел, нажмите на имя пользователя.
    </p>
{{/inline}}

{{#*inline "batcher"}}
    {{#logged}}
        <div class="batcher">
            <div class="adder">
                {{image "/pics/sheet.gif"}}
                <a href="/{{topic.catalog}}add-peruser-forums?back={{ue rc.location}}">Добавить заметку</a>
            </div>
            <div class="adder">
                {{image "/pics/sheet.gif"}}
                <a href="/{{topic.catalog}}add-gallery?back={{ue rc.location}}">Добавить фотографию</a>
            </div>
            <div class="clear-floats"></div>
        </div>
    {{/logged}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout">
    <tr valign="top">
        <td width="150" class="eframe">
            {{> (topicsPartial)}}
            {{> part/ears}}
        </td>
        <td>
            <div class="ninept cframe" style="padding: 5px; margin-bottom: 2ex">
                {{subtitle}}
                {{> intro}}
            </div>
            {{> batcher}}
            <div class="pictures-per-user">
                {{#each users}}
                    <div class="picture-per-user">
                        {{#assign "href"}}/{{topic.catalog}}{{folder}}{{/assign}}
                        {{#if preview}}
                            {{#assign "imageUrl"}}{{preview.smallImageUrl}}{{/assign}}
                        {{else}}
                            {{#assign "imageUrl"}}/pics/placeholder-boy.png{{/assign}}
                        {{/if}}
                        <a href="{{href}}"><img src="{{imageUrl}}" width="200" height="200"></a><br>
                        <a href="{{href}}">{{fullName}}</a>
                    </div>
                {{/each}}
            </div>
        </td>
    </tr>
</table>

{{> part/bottom}}
