{{!
<int name='noguests'>
}}

{{#*inline "formTextFormat"}} {{! params: title,comment,name,format,mandatory }}
    {{#formSelect title=title comment=comment name=name mandatory=mandatory}}
        {{#each const.textFormats}}
            {{#if user}}
                {{formOption title=title value=value selectedValue=format}}
            {{else}}
                {{#if postingForm.full}}
                    {{formOption title=title value=value selectedValue=format}}
                {{/if}}
            {{/if}}
        {{/each}}
    {{/formSelect}}
{{/inline}}

{{#*inline "formDateTime"}} {{! params: title,comment,name,date,time,mandatory }}
    {{#formLine title=title name=name mandatory=mandatory comment=comment}}
        {{#assign "editName"}}{{name}}Date{{/assign}}
        {{edit name=editName value=date size="16" maxlength="16" class="datepicker"}}
        {{#assign "editName"}}{{name}}Time{{/assign}}
        {{edit name=editName value=time size="12" maxlength="12"}}
    {{/formLine}}
{{/inline}}

{{#*inline "editorLine"}} {{! params: editor,visible }}
    {{#if editor.section}}
        {{formSection title=editor.title}}
    {{/if}}

    {{#ifeq editor.field "priority"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment name="priority" value=postingForm.priority
                       size="4" maxlength="3" mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="priority" value=postingForm.priority}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "topic"}}
        {{#if visible}}
            {{formTopicSelect title=editor.title comment=editor.comment name="parentId" value=postingForm.parentId
                              mandatory=editor.mandatory list=topicNames}}
        {{else}}
            {{hidden name="parentId" value=postingForm.parentId}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "ident"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment name="ident" value=postingForm.ident size="20"
                       maxlength="75" mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="ident" value=postingForm.ident}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "subject"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment value=postingForm.subject name="subject" size="70"
                       maxlength="250" mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="subject" value=postingForm.subject}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "author"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment value=postingForm.author name="author" size="52"
                       maxlength="250" mandatory=editor.mandatory xmlid=xmlid}}
        {{else}}
            {{hidden name="author" value=postingForm.author}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "source"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment value=postingForm.source name="source" size="52"
                       maxlength="250" mandatory=editor.mandatory xmlid=xmlid}}
        {{else}}
            {{hidden name="source" value=postingForm.source}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "comment0"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment value=postingForm.comment0 name="comment0" size="52"
                       maxlength="250" mandatory=editor.mandatory xmlid=xmlid}}
        {{else}}
            {{hidden name="comment0" value=postingForm.comment0}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "body"}}
        {{#if visible}}
            {{formEditor title=editor.title comment=editor.comment name="body" body=postingForm.body rows="9"
                         mandatory=editor.mandatory xmlid=xmlid}}
        {{else}}
            {{hidden name="body" value=postingForm.body}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "body_format"}}
        {{#if visible}}
            {{> formTextFormat title=editor.title comment=editor.comment name="bodyFormat"
                                 format=postingForm.bodyFormat mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="bodyFormat" value=postingForm.bodyFormat}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "index1"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment value=postingForm.index1 name="index1" size="3"
                       maxlength="5" mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="index1" value=postingForm.index1}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "index2"}}
        {{#if visible}}
            {{#ifeq editor.style "issue-length"}}
                {{#formSelect title=editor.title comment=editor.comment name="index2" mandatory=editor.mandatory}}
                    {{formOption title="Обычный номер" value=0 selectedValue=postingForm.index2}}
                    {{formOption title="Сдвоенный номер" value=1 selectedValue=postingForm.index2}}
                    {{formOption title="Строенный номер" value=2 selectedValue=postingForm.index2}}
                    {{formOption title="Счетверенный номер" value=3 selectedValue=postingForm.index2}}
                {{/formSelect}}
            {{else}}
                {{formEdit title=editor.title comment=editor.comment value=postingForm.index2 name="index2" size="3"
                           maxlength="5" mandatory=editor.mandatory}}
            {{/ifeq}}
        {{else}}
            {{hidden name="index2" value=postingForm.index2}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "lang"}}
        {{#if visible}}
            {{#formSelect title=editor.title comment=editor.comment name="lang" mandatory=editor.mandatory}}
                {{formOption title=(safe "&mdash; Неизвестен &mdash;") value="" selectedValue=postingForm.lang}}
                {{#each const.langs}}
                    {{formOption title=title value=value selectedValue=postingForm.lang}}
                {{/each}}
            {{/formSelect}}
        {{else}}
            {{hidden name="lang" value=postingForm.lang}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "url"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment value=postingForm.url name="url" size="52"
                       maxlength="250" mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="url" value=postingForm.url}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "image"}}
        {{#if visible}}
            {{#assign "loaded"}}
                {{#if postingForm.imageUuid}}
                    Загружен файл {{postingForm.image.large.originalFilename}}
                    ({{postingForm.image.large.sizeX}}x{{postingForm.image.large.sizeY}},
                     {{postingForm.imagelarge.fileSizeKb}} KiB)
                {{/if}}
            {{/assign}}
            {{formUploader title=editor.title comment=editor.comment name="imageFile" loaded=loaded
                           smallUrl=postingForm.image.small.url largeUrl=postingForm.image.large.url
                           mandatory=editor.mandatory uuidName="imageUuid" uuid=postingForm.imageUuid}}
        {{else}}
            {{hidden name="imageUuid" value=postingForm.imageUuid}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "title"}}
        {{#if visible}}
            {{formEditor title=editor.title comment=editor.comment name="title" body=postingForm.title rows="3"
                         mandatory=editor.mandatory xmlid=xmlid}}
        {{else}}
            {{hidden name="title" value=postingForm.title}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "large_body"}}
        {{#if visible}}
            {{formEditor title=editor.title comment=editor.comment name="largeBody" body=postingForm.largeBody rows="11"
                         mandatory=editor.mandatory xmlid=xmlid}}
        {{else}}
            {{hidden name="largeBody" value=postingForm.largeBody}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "large_body_format"}}
        {{#if visible}}
            {{> formTextFormat title=editor.title comment=editor.comment name="largeBodyFormat"
                                 format=postingForm.largeBodyFormat mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="largeBodyFormat" value=postingForm.largeBodyFormat}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "sent"}}
        {{#if visible}}
            {{> formDateTime title=editor.title comment=editor.comment name="sent" date=postingForm.sentDate
                             time=postingForm.sentTime mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="sentDate" value=postingForm.sentDate}}
            {{hidden name="sentTime" value=postingForm.sentTime}}
        {{/if}}
    {{/ifeq}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

{{#if postingForm.id}}
    {{#assign "formTitle"}}Редактирование {{postingForm.grpInfo.whatA}}{{/assign}}
{{else}}
    {{#assign "formTitle"}}Добавление {{postingForm.grpInfo.whatA}}{{/assign}}
{{/if}}
<form method="post" enctype="multipart/form-data" action="/actions/posting/modify">
    {{#formTable title=formTitle}}
        {{formErrors object=postingForm.grpInfo.fieldEditors}}
        {{hidden name="back" value=rc.location}}
        {{hidden name="origin" value=rc.back}}
        {{hidden name="full" value=postingForm.full}}
        {{hidden name="id" value=postingForm.id}}
        {{hidden name="personId" value=postingForm.personId}}
        {{hidden name="upId" value=postingForm.upId}}
        {{starInfo}}
        {{#moderator}}
            {{#formComment}}<table><tr>
                {{#if postingForm.full}}
                    <td>{{image "/pics/down.gif"}}</td>
                    <td>&nbsp;<a href="{{location "full" 0}}">Скрыть все неиспользуемые поля</a></td>
                {{else}}
                    <td>{{image "/pics/right.gif"}}</td>
                    <td>&nbsp;<a href="{{location "full" 1}}">Показать все поля</a></td>
                {{/if}}
            </tr></table>{{/formComment}}
        {{/moderator}}
        {{#unless postingForm.id}}
            {{formRelogin relogin=postingForm.relogin noGuests=noguests guestLogin=postingForm.guestLogin
                          login=postingForm.login remember=postingForm.remember}}
            <error id='*EP_CAPTCHA_ABSENT'
                   text='Пожалуйста, введите цифры и буквы, которые вы видите на
                         картинке. Это необходимо нам для борьбы со спамом.'>
            <error id='*EP_CAPTCHA' text='Неверные цифры и буквы, попробуйте еще раз'>
            <form_captcha id='captcha' name='captcha'>
        {{/unless}}
        {{#if postingForm.full}}
            {{formGrpSelect title="Группа" mandatory=true name="grp" value=postingForm.grp}}
        {{else}}
            {{hidden name="grp" value=postingForm.grp}}
        {{/if}}
        {{#unless postingForm.full}}
            {{#each postingForm.grpInfo.editors}}
                {{> editorLine editor=this visible=true}}
            {{/each}}
            {{#each postingForm.grpInfo.hiddenEditors}}
                {{> editorLine editor=this visible=false}}
            {{/each}}
        {{else}}
            {{#each grpNone.editors}}
                {{> editorLine editor=this visible=true}}
            {{/each}}
        {{/unless}}
        {{#moderator}}
            {{#assign "hiddenTitle"}}Сообщение видно только автору и модераторам{{/assign}}
        {{else}}
            {{#assign "hiddenTitle"}}Сообщение видно только мне и модераторам{{/assign}}
        {{/moderator}}
        {{#logged}}
            {{#formSelect title="Видимость" name="hidden" style="box"}}
                {{formOption title="Сообщение видно всем пользователям" value="0" selected=(not postingForm.hidden)}}
                {{formOption title=hiddenTitle value="1" selected=postingForm.hidden}}
            {{/formSelect}}
        {{else}}
            {{hidden name="hidden" value="0"}}
        {{/logged}}
        {{#moderator}}
            {{#assign "disabledTitle"}}Разрешено показывать только автору и модераторам{{/assign}}
        {{else}}
            {{#assign "disabledTitle"}}Разрешено показывать только мне и модераторам{{/assign}}
        {{/moderator}}
        {{#if postingForm.full}}
            {{#formSelect title="Запретить показ"
                          comment="Модераторский запрет на показ сообщения. Пользователь не может снять этот запрет."
                          name="disabled" style="box"}}
                {{formOption title="Нет запрета на показ всем пользователям" value="0" selected=(not postingForm.disabled)}}
                {{formOption title=disabledTitle value="1" selected=postingForm.disabled}}
            {{/formSelect}}
        {{else}}
            {{hidden name="disabled" value=postingForm.disabled}}
        {{/if}}
        {{#if postingForm.id}}
            {{formButtons title="Изменить"}}
        {{else}}
            {{formButtons title="Добавить"}}
        {{/if}}
    {{/formTable}}
</form>

{{> part/bottom}}