{{!
1. Если поле something отсутствует из-за того, что редактор данного типа
   сообщения его не предусматривает, оно должно присутствовать в виде hidden,
   поскольку может присутствовать в других тенях этого же сообщения. В
   противном случае actions/postingmod.php затрет это поле.
2. Все поля должны включаться, если $full!=0.
}}

{{! <ident name='parent_id'>
<int name='grp'>
<int name='index1'>
<int name='noguests'>

<int name='relogin'>
<string name='login'>
<int name='remember'>

<int name='index2'>
<string name='body'>
<int name='body_format'>
<string name='large_body'>
<string name='large_body_filename'>
<int name='del_large_body'>
<int name='large_body_format'>
<string name='subject'>
<string name='author'>
<string name='source'>
<string name='comment0'>
<string name='comment1'>
<string name='title'>
<string name='url'>
<int name='priority'>
<string name='ident'>
<string name='lang'>
<int name='small_image'>
<int name='small_image_x'>
<int name='small_image_y'>
<string name='small_image_format'>
<int name='large_image'>
<int name='large_image_x'>
<int name='large_image_y'>
<int name='large_image_size'>
<string name='large_image_format'>
<string name='large_image_filename'>
<int name='sent'>

<posting_obj id='$editid' grp='$grp' topic_id='$parent_id' up='$up'
             index1='$index1' fields!='*SELECT_GENERAL|*SELECT_LARGE_BODY'>}}

{{#if postingForm.full}}
 <assign name='root' value='-1'>
<else>
 <assign name='root' value='$posting.RootId'>
 <if what='$root!=-1'>
  <assign name='root' value='$`$root`'>
 </if>
{{/if}}
<if what='$grp<=0 && $posting.Grp>0'>
 <assign name='grp' value='$posting.Grp'>
</if>

{{#*inline "editorLine"}} {{! params: editor,visible }}
    {{#if editor.section}}
        {{formSection title=editor.title}}
    {{/if}}

    {{#ifeq editor.field "priority"}}
        {{#if visible}}
            {{formEdit title=editor.title comment=editor.comment name="priority" value=postingForm.priority
                       size="4" maxlength="3" mandatory=editor.mandatory}}
        {{else}}
            {{hidden name="priority" value=postingForm.priority}}
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "topic"}}
        {{#if visible}}
            <form_topicselect title='$=editor.Title' comment='$editor.Comment'
                              name='parent_id' value='$posting.ParentId' grp='$$grp'
                              mandatory='$editor.isMandatory' root='$$root'
                              only_postable='*true'>
        {{else}}
            <hidden name='parent_id' value='$posting.TopicId'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "ident"}}
        {{#if visible}}
            {{!<error id='*EP_IDENT_ABSENT' text='Обозначение не указано'>
            <error id='*EP_IDENT_UNIQUE' text='Так уже обозначено другое сообщение'>}}
            <form_edit title='$=editor.Title' comment='$editor.Comment' name='ident'
                       value='$posting.Ident' size=20 maxlength=75
                       mandatory='$editor.isMandatory'>
        {{else}}
            <hidden name='ident' value='$posting.Ident'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "subject"}}
        {{#if visible}}
            {{!<error id='*EP_SUBJECT_ABSENT' text#='$=editor.Title не указан'>}}
            <form_edit title='$=editor.Title' comment='$editor.Comment'
                       value='$=posting.Subject' name='subject' size=70 maxlength=250
                       mandatory='$editor.isMandatory'>
        {{else}}
            <hidden name='subject' value='$=posting.Subject'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "author"}}
        {{#if visible}}
            {{!<error id='*EP_AUTHOR_ABSENT' text#='$=editor.Title не указан'>}}
            <form_edit title='$=editor.Title' comment='$editor.Comment'
                       value='$=posting.Author' name='author' size=52 maxlength=250
                       mandatory='$editor.isMandatory' xmlid='$xmlid'>
        {{else}}
            <hidden name='author' value='$=posting.Author'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "source"}}
        {{#if visible}}
            {{!<error id='*EP_SOURCE_ABSENT' text#='$=editor.Title не указан'>}}
            <form_edit title='$=editor.Title' comment='$editor.Comment'
                       value='$=posting.Source' name='source' size=52 maxlength=250
                       mandatory='$editor.isMandatory' xmlid='$xmlid'>
        {{else}}
            <hidden name='source' value='$=posting.Source'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "comment0"}}
        {{#if visible}}
            <form_edit title='$=editor.Title' comment='$editor.Comment'
                       value='$=posting.Comment0' name='comment0' size=52 maxlength=250
                       mandatory='$editor.isMandatory' xmlid='$xmlid'>
        {{else}}
            <hidden name='comment0' value='$=posting.Comment0'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "body"}}
        {{#if visible}}
            {{!<error id='*EP_BODY_ABSENT' text='Текст пуст'>}}
            <form_editor title='$=editor.Title' comment='$editor.Comment'
                         name='body' body='$=posting.Body' rows=9
                         mandatory='$editor.isMandatory' xmlid='$xmlid'>
        {{else}}
            <hidden name='body' value='$=posting.Body'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "body_format"}}
        {{#if visible}}
            <form_upload_format title='$=editor.Title' comment='$editor.Comment'
                                name='body_format' format='$posting.BodyFormat'
                                mandatory='$editor.isMandatory'>
        {{else}}
            <hidden name='body_format' value='$posting.BodyFormat'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "index1"}}
        {{#if visible}}
            {{!<error id='*EP_INDEX1_ABSENT' text#='$=editor.Title не указан'>}}
            <form_edit title='$=editor.Title' comment='$editor.Comment'
                       value='$posting.Index1' name='index1' size=3 maxlength=5
                       mandatory='$editor.isMandatory'>
        {{else}}
            <hidden name='index1' value='$posting.Index1'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "index2"}}
        {{#if visible}}
            <if what="$editor.Style=='issue-length'">
                <form_select title='$=editor.Title' comment='$editor.Comment'
                             name='index2' mandatory='$editor.isMandatory'>
                    <form_option title='Обычный номер' value=0 selected!='$posting.Index2==0'>
                    <form_option title='Сдвоенный номер' value=1 selected!='$posting.Index2==1'>
                    <form_option title='Строенный номер' value=2 selected!='$posting.Index2==2'>
                    <form_option title='Счетверенный номер' value=3
                                 selected!='$posting.Index2==3'>
                </form_select>
            <else>
                <form_edit title='$=editor.Title' comment='$editor.Comment'
                           value='$posting.Index2' name='index2' size=3 maxlength=5
                           mandatory='$editor.isMandatory'>
            </if>
        {{else}}
            <hidden name='index2' value='$posting.Index2'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "lang"}}
        {{#if visible}}
            {{!<error id='*EP_LANG_ABSENT' text#='$=editor.Title не указан'>}}
            <form_langselect title='$=editor.Title' comment='$editor.Comment'
                             value='$posting.Lang' name='lang'
                             mandatory='$editor.isMandatory'>
        {{else}}
            <hidden name='lang' value='$posting.Lang'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "url"}}
        {{#if visible}}
            {{!<error id='*EP_URL_ABSENT' text#='$=editor.Title не указана'>}}
            <form_edit title='$=editor.Title' comment='$editor.Comment'
                       value='$=posting.URL' name='url' size=52 maxlength=250
                       mandatory='$editor.isMandatory'>
        {{else}}
            <hidden name='url' value='$=posting.URL'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "image"}}
        {{#if visible}}
            {{!  <error id='*EP_IMAGE_ABSENT' text#='Нужно указать $editor.WhatSV'>
              <error id='*EIU_UNKNOWN_IMAGE'
                     text#='Неизвестный формат $editor.WhatSR. Сайт понимает
                            $editor.WhatSVs только в форматах JPEG, PNG и GIF'>
              <error id='*EIU_IMAGE_LARGE'
                     text#='$editor.WhatLI слишком велика (больше 2M)'>
              <error id='*EIU_THUMBNAIL_LARGE'
                     text#='Маленькая $editor.WhatSI слишком велика (больше 2M)'>
              <error id='*EIU_UNKNOWN_THUMBNAIL'
                     text#='Формат маленькой $editor.WhatSR, указанный при конфигурации
                            сервера, не поддерживается, либо вы загрузили $editor.WhatSV
                            не этого формата'>
              <error id='*EIU_INTERNAL_ERROR' text#='Не удалось загрузить $editor.WhatSV'>
              <error id='*EP_LARGE_IMAGE_EXACT'
                     text#='$editor.WhatLI должна быть размером
                            ${editor.ImageExactX}x$editor.ImageExactY'>
              <error id='*EP_LARGE_IMAGE_EXACT_X'
                     text#='$editor.WhatLI должна быть шириной $editor.ImageExactX пикселов'>
              <error id='*EP_LARGE_IMAGE_EXACT_Y'
                     text#='$editor.WhatLI должна быть высотой $editor.ImageExactY пикселов'>
              <error id='*EP_SMALL_IMAGE_EXACT'
                     text#='Уменьшенная $editor.WhatSI должна быть размером
                            ${editor.ThumbExactX}x$editor.ThumbExactY'>
              <error id='*EP_SMALL_IMAGE_EXACT_X'
                     text#='Уменьшенная $editor.WhatSI должна быть шириной
                            $editor.ThumbExactX пикселов'>
              <error id='*EP_SMALL_IMAGE_EXACT_Y'
                     text#='Уменьшенная $editor.WhatSI должна быть высотой
                            $editor.ThumbExactY пикселов'>
              <error id='*EP_LARGE_IMAGE_MAX'
                     text#='$editor.WhatLI должна быть размером не более
                            ${editor.ImageMaxX}x$editor.ImageMaxY'>
              <error id='*EP_LARGE_IMAGE_MAX_X'
                     text#='$editor.WhatLI должна быть шириной не более $editor.ImageMaxX
                            пикселов'>
              <error id='*EP_LARGE_IMAGE_MAX_Y'
                     text#='$editor.WhatLI должна быть высотой не более $editor.ImageMaxY
                            пикселов'>
              <error id='*EP_SMALL_IMAGE_MAX'
                     text#='Уменьшенная $editor.WhatSI должна быть размером не более
                            ${editor.ThumbMaxX}x$editor.ThumbMaxY'>
              <error id='*EP_SMALL_IMAGE_MAX_X'
                     text#='Уменьшенная $editor.WhatSI должна быть шириной не более
                            $editor.ThumbMaxX пикселов'>
              <error id='*EP_SMALL_IMAGE_MAX_Y'
                     text#='Уменьшенная $editor.WhatSI должна быть высотой не более
                            $editor.ThumbMaxY пикселов'>}}
            <if what='$posting.hasSmallImage'>
                {{! FIXME: Vulnerability}}
                <hidden name='small_image' value='$posting.SmallImage'>
                <hidden name='small_image_x' value='$posting.SmallImageX'>
                <hidden name='small_image_y' value='$posting.SmallImageY'>
                <hidden name='small_image_format' value='$posting.SmallImageFormat'>
                <hidden name='large_image' value='$posting.LargeImage'>
                <hidden name='large_image_x' value='$posting.LargeImageX'>
                <hidden name='large_image_y' value='$posting.LargeImageY'>
                <hidden name='large_image_size' value='$posting.LargeImageSize'>
                <hidden name='large_image_format' value='$posting.LargeImageFormat'>
                <hidden name='large_image_filename' value='$posting.LargeImageFilename'>
                <assign name='loaded' value#='Загружен файл $=posting.LargeImageFilename
                                             (${posting.LargeImageX}x$posting.LargeImageY,
                                             ${posting.LargeImageSizeKB}K)'>
                <assign name='small_url' value!="$,hasLargeImage ? $,SmallImageURL : ''">
                <assign name='large_url' value="$,LargeImageURL">
            <else>
                <assign name='loaded' value=''>
                <assign name='small_url' value=''>
                <assign name='large_url' value=''>
            </if>
            <assign name='flags' value='$editor.ThumbnailStyle'>
            <if what="$flags!='manual' && $flags!='resize'">
                <form_uploader title='$=editor.Title' comment='$editor.Comment'
                               name='image_file' loaded='$loaded' delname='del_image'
                               small_url='$small_url' large_url='$large_url'
                               mandatory='$editor.isMandatory'>
            <else>
                <form_uploader title='$=editor.Title' comment='$editor.Comment'
                               name='image_file' small_name='image_file_thumb'
                               small_title='Маленькая:' large_title='Большая:'
                               loaded='$loaded' delname='del_image'
                               small_url='$small_url' large_url='$large_url'
                               mandatory='$editor.isMandatory'>
            </if>
        {{else}}
            {{! FIXME: Vulnerability}}
            <hidden name='small_image' value='$posting.SmallImage'>
            <hidden name='small_image_x' value='$posting.SmallImageX'>
            <hidden name='small_image_y' value='$posting.SmallImageY'>
            <hidden name='small_image_format' value='$posting.SmallImageFormat'>
            <hidden name='large_image' value='$posting.LargeImage'>
            <hidden name='large_image_x' value='$posting.LargeImageX'>
            <hidden name='large_image_y' value='$posting.LargeImageY'>
            <hidden name='large_image_size' value='$posting.LargeImageSize'>
            <hidden name='large_image_format' value='$posting.LargeImageFormat'>
            <hidden name='large_image_filename' value='$posting.LargeImageFilename'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "title"}}
        {{#if visible}}
            <form_editor title='$=editor.Title' comment='$editor.Comment'
                         name='title' body='$=posting.Title' rows=3
                         mandatory='$editor.isMandatory' xmlid='$xmlid'>
        {{else}}
            <hidden name='title' value='$=posting.Title'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "large_body"}}
        {{#if visible}}
            {{!<error id='*EP_LARGE_BODY_ABSENT' text#='$=editor.Title пуст'>}}
            <form_editor title='$=editor.Title' comment='$editor.Comment'
                         name='large_body' body='$=posting.LargeBody' rows=11
                         mandatory='$editor.isMandatory' xmlid='$xmlid'>
        {{else}}
            <hidden name='large_body' value='$=posting.LargeBody'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "large_body_upload"}}
        {{#if visible}}
            {{!<error id='*EUL_LARGE' text#='$=editor.Title слишком велик (больше 2M)'>
            <error id='*EUL_UNKNOWN_FORMAT'
             text='Этот файл не является простым текстовым файлом. Сайт не понимает
               документы MS Word и другие подобные форматы. Допускается
               загрузка только простого текстового файла.'>}}
            <if what='$posting.hasLargeBody'>
                <ifne what='$posting.LargeBodyFilename'>
                    <assign name='loaded' value#='Загружен файл $=posting.LargeBodyFilename
                                                  (${posting.LargeBodySizeKB}K)'>
                <else>
                    <assign name='loaded' value#='Загружен текст (${posting.LargeBodySizeKB}K)'>
                </ifne>
            <else>
                <assign name='loaded' value=''>
            </if>
            <form_uploader title='$=editor.Title' comment='$editor.Comment'
                           name='large_body_file' loaded='$loaded'
                           delname='del_large_body' mandatory='$editor.isMandatory'
                           plainid='$posting.Id'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "large_body_format"}}
        {{#if visible}}
            <form_upload_format title='$=editor.Title' comment='$editor.Comment'
                                name='large_body_format'
                                format='$posting.LargeBodyFormat'
                                mandatory='$editor.isMandatory'>
        {{else}}
            <hidden name='large_body_format' value='$posting.LargeBodyFormat'>
        {{/if}}
    {{/ifeq}}

    {{#ifeq editor.field "sent"}}
        {{#if visible}}
            <form_date title='$=editor.Title' comment='$editor.Comment'
                       name='sent' value='$posting.Sent'
                       mandatory='$editor.isMandatory' base_year='$editor.Base'>
        {{else}}
            <hidden name='sent_year' value=0>
            <hidden name='sent_month' value=0>
            <hidden name='sent_day' value=0>
            <hidden name='sent_hour' value='-1'>
            <hidden name='sent_minute' value='-1'>
            <hidden name='sent_second' value='-1'>
        {{/if}}
    {{/ifeq}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

{{#if postingForm.id}}
    {{#assign "formTitle"}}Редактирование {{postingForm.grpInfo.whatA}}{{/assign}}
{{else}}
    {{#assign "formTitle"}}Добавление {{postingForm.grpInfo.whatA}}{{/assign}}
{{/if}}
<form method="post" enctype="multipart/form-data" action="/actions/posting/modify">
    {{#formTable title=formTitle}}
        {{formErrors}}
        {{hidden name="back" value=rc.back}}
        {{hidden name="full" value=postingForm.full}}
        {{hidden name="id" value=postingForm.id}}
        {{hidden name="personId" value=postingForm.personId}}
        {{hidden name="upId" value=postingForm.upId}}
        {{starInfo}}
   {{! <error id='*EP_NO_EDIT' text='У вас нет права редактировать это сообщение'>
   <error id='*EP_NO_PERSON'
	  text='У этого пользователя нет персональной страницы'>
   <error id='*EP_INVALID_GRP' text='Такого типа сообщения не существует'>
   <error id='*EP_TOPIC_ABSENT' text='Тема должна быть выбрана'>
   <error id='*EP_TOPIC_ACCESS'
	  text='Вы не имеете права добавлять сообщения по этой теме'>
   <error id='*EVH_NO_PARENT' text='Такой темы не существует'>
   <error id='*EVH_NO_UP' text='Вышестоящего сообщения не существует'>
   <error id='*EVH_LOOP' text='Сообщение не может быть подчиненным себе'>
   <error id='*EVH_NOT_UP_UNDER_PARENT'
          text='Тема вышестоящего сообщения должна совпадать с этой темой'>
   <error id='*EVH_INCORRECT' text='Нарушение иерархии объектов'>
   <error id='*EP_UP_APPEND'
	  text='Вы не имеете права присоединять сообщения к этому сообщению'>
   <error id='*EL_INVALID' text='Неверный ник или пароль'>
   <error id='*EL_GUEST_LOGIN_ABSENT' text='Укажите, пожалуйста, ваше имя'>}}
        {{#moderator}}
            {{#formComment}}<table><tr>
                {{#if postingForm.full}}
                    <td>{{image "/pics/down.gif"}}</td>
                    <td><a href="?full=0">Скрыть все неиспользуемые поля</a></td>
                {{else}}
                    <td>{{image "/pics/right.gif"}}</td>
                    <td><a href="?full=1">Показать все поля</a></td>
                {{/if}}
            </tr></table>{{/formComment}}
        {{/moderator}}
        {{#unless postingForm.id}}
            <form_relogin noguests='$noguests' relogin='$relogin'
                          login!='$edittag ? $login : $$userLoginHint'
                          remember='$remember' onclick='reloginSelected(this);'>
            <error id='*EP_CAPTCHA_ABSENT'
                   text='Пожалуйста, введите цифры и буквы, которые вы видите на
                         картинке. Это необходимо нам для борьбы со спамом.'>
            <error id='*EP_CAPTCHA' text='Неверные цифры и буквы, попробуйте еще раз'>
            <form_captcha id='captcha' name='captcha'>
        {{/unless}}
        {{#if postingForm.full}}
            {{formGrpSelect title="Группа" mandatory=true name="grp" value=postingForm.grp}}
        {{else}}
            {{hidden name="grp" value=postingForm.grp}}
        {{/if}}
        {{#unless postingForm.full}}
            {{#each postingForm.grpInfo.editors}}
                {{> editorLine editor=this visible=true}}
            {{/each}}
            {{#each postingForm.grpInfo.hiddenEditors}}
                {{> editorLine editor=this visible=false}}
            {{/each}}
        {{else}}
            {{#each grpNone.editors}}
                {{> editorLine editor=this visible=true}}
            {{/each}}
        {{/unless}}
        {{#moderator}}
            {{#assign "hiddenTitle"}}Сообщение видно только автору и модераторам{{/assign}}
        {{else}}
            {{#assign "hiddenTitle"}}Сообщение видно только мне и модераторам{{/assign}}
        {{/moderator}}
        {{#logged}}
            {{#formSelect title="Видимость" name="hidden" style="box"}}
                {{formOption title="Сообщение видно всем пользователям" value="0" selected=(not postingForm.hidden)}}
                {{formOption title=hiddenTitle value="1" selected=postingForm.hidden}}
            {{/formSelect}}
        {{else}}
            {{hidden name="hidden" value="0"}}
        {{/logged}}
        {{#moderator}}
            {{#assign "disabledTitle"}}Разрешено показывать только автору и модераторам{{/assign}}
        {{else}}
            {{#assign "disabledTitle"}}Разрешено показывать только мне и модераторам{{/assign}}
        {{/moderator}}
        {{#if postingForm.full}}
            {{#formSelect title="Запретить показ"
                          comment="Модераторский запрет на показ сообщения. Пользователь не может снять этот запрет."
                          name="disabled" style="box"}}
                {{formOption title="Нет запрета на показ всем пользователям" value="0" selected=(not postingForm.disabled)}}
                {{formOption title=disabledTitle value="1" selected=postingForm.disabled}}
            {{/formSelect}}
        {{else}}
            {{hidden name="disabled" value=postingForm.disabled}}
        {{/if}}
        {{#if postingForm.id}}
            {{formButtons title="Изменить"}}
        {{else}}
            {{formButtons title="Добавить"}}
        {{/if}}
    {{/formTable}}
</form>

{{> part/bottom}}