{{> part/preamble}}
{{> part/top}}

<div class="columns">
    <div class="left-column">
        {{> (topicsPartial)}}
        {{> part/ears}}
    </div>
    <div class="center-column">
        <div class="center-column-content">
            {{> (postingPartial posting) posting=posting showTopic=true showDiscuss=false}}
            {{#notEnglish}}
                <br>
                {{> part/forums forums=comments posting=posting}}
            {{/notEnglish}}
        </div>
    </div>
</div>

{{> part/bottom}}
