{{#*inline "batcher"}}
    {{#postable printings}}
        <div class="batcher">
            <div class="adder">
                {{image "/pics/sheet.gif"}}
                <a href="/migdal/printings/add-printings?back={{ue rc.location}}">Добавить книгу</a>
                &nbsp;
                <a href="/migdal/printings/reorder?back={{ue rc.location}}">Расставить подразделы</a>
            </div>
            <div class="clear-floats"></div>
        </div>
    {{/postable}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<div class="columns">
    <div class="left-column">
        {{> (topicsPartial)}}
        {{> part/ears}}
    </div>
    <div class="center-column">
        <div class="center-column-content">
            {{subtitle}}
            {{> part/see-also}}
            {{> batcher}}
            {{#assign "prevTopicId"}}{{/assign}}
            {{#each postings}}
                {{#assign "nextTopicId"}}{{parent.id}}{{/assign}}
                {{#ifne prevTopicId nextTopicId}}
                    {{#assign "prevTopicId"}}{{nextTopicId}}{{/assign}}
                    <div class="rubric" style="margin-top: 2ex">
                        <div class="rubric-bullet">{{image "/pics/times-bullet.gif"}}</div>
                        <div class="rubric-title">{{uc parent.subject}}</div>
                    </div>
                    {{#postable parent}}
                        <div class="batcher">
                            <div class="adder">
                                <a href="{{parent.href}}reorder?back={{ue rc.location}}">Расставить книги</a>
                            </div>
                            <div class="clear-floats"></div>
                        </div>
                    {{/postable}}
                {{/ifne}}
                {{> (postingPartial this) posting=this showTopic=false shorten=false showComment=true}}
            {{/each}}
            {{#if postings}}
                {{> batcher}}
            {{/if}}
        </div>
    </div>
</div>

{{> part/bottom}}
