{{> part/preamble}}
{{> part/top}}

<div style="padding: 10px">
    {{#formTable title="Восстановление пароля" mini=true}}
        {{formErrors}}
        <form method="post" action="/actions/recall-password">
            {{#formComment}}
                <p>
                    Если вы забыли пароль &mdash; не отчаивайтесь. Введите свой ник в форму
                    внизу, нажмите кнопку &laquo;Отправить&raquo;, и на тот адрес E-mail,
                    который вы вводили при регистрации, будет выслан новый пароль.
                </p>
                <p>
                    При помощи этого пароля вы сможете зайти на сайт и затем, если захотите,
                    изменить этот пароль на любой понравившийся.
                </p>
                <p>
                    Ваш старый пароль будет аннулирован автоматически в тот момент, когда вы
                    нажмете кнопку &laquo;Отправить&raquo;.
                </p>
            {{/formComment}}
            {{hidden name="origin" value=rc.back}}
            {{formEdit title="Ник" name="login" value=recallPasswordForm.login size="30" maxlength="30"}}
            {{formButtons title="Отправить"}}
        </form>
    {{/formTable}}
</div>

{{> part/bottom}}