{{> part/preamble}}
{{> part/top}}

{{#formTable title="Подтверждение регистрации"}}
    <form method="get" action="{{rc.back}}">
        {{#formComment}}
            <b>Пожалуйста, внимательно прочтите эту инструкцию.</b>
            <p>
                До того, как вы сможете зайти на сайт под своим ником, должна пройти
                процедура подтверждения регистрации. Эта процедура необходима для того,
                чтобы убедиться, что введенный вами адрес E-mail существует и принадлежит
                вам. По этому адресу мы сможем связаться с вами, если вы забудете свой
                пароль или в другом экстренном случае. Не беспокойтесь, никаких
                назойливых сообщений и, тем более, рекламы по этому адресу рассылаться не
                будет.
            </p>
            <p>
                На ваш адрес {{mailToLink user}} отправлено письмо, в котором описано, как
                подтвердить регистрацию. Эта процедура не составит никакого труда (нужно просто
                сходить по ссылке, которая указана в письме).
            </p>
            <p>
                Пожалуйста, будьте терпеливы. Если вы пользуетесь популярными бесплатными
                почтовыми серверами, например, mail.ru, то письма на ваш ящик могут
                приходить с опозданием.
            </p>
            <p>
                На завершение регистрации отводится {{config.regConfirmTimeout}}
                {{plural config.regConfirmTimeout "день,дня,дней"}}. Если
                вы не подтвердите регистрацию в течение этого времени, то она будет
                отменена автоматически и вам придется регистрироваться заново.
            </p>
        {{/formComment}}
        {{formButtons title="Вернуться" clear=false}}
    </form>
{{/formTable}}

{{> part/bottom}}