{{> part/preamble}}
{{> part/top}}

{{!-- TODO:
        <error id='*EUM_CAPTCHA_ABSENT'
               text='Пожалуйста, введите цифры и буквы, которые вы видите на
картинке. Это необходимо нам для борьбы со спамом.'>
            <error id='*EUM_CAPTCHA' text='Неверные цифры и буквы, попробуйте еще раз'>
--}}

{{#formTable title="Введите информацию о себе"}}
    {{formErrors}}
    <form method="post" action="/actions/user/modify">
        {{hidden name="back" value=rc.back}}
        {{starInfo}}
        <form_captcha name='captcha'>
        {{formSection title="Информация для входа на сайт"}}
        {{#formLine title="Ник" name="newLogin" mandatory=true
                    comment="Ваш псевдоним, под которым вы будете появляться на сайте"}}
            <table width="100%">
                <tr valign="center">
                    <td width="1" align="left">
                        {{edit id="login" name="newLogin" value=userForm.newLogin size="20" maxlength="30"}}
                    </td>
                    <td align="left" style="padding-left: 5px">
                        <input type="button" id="login-button" value="Проверить">
                    </td>
                </tr>
                <tr><td colspan="3" id="login-status" style="padding-top: 5px">
                    &nbsp;
                </td></tr>
            </table>
        {{/formLine}}
        {{formPassword title="Пароль" comment="Не менее 6 символов"
                       name="newPassword" size="20" maxlength="40" mandatory=true}}
        {{formPassword title="Пароль (еще раз)"
                       comment="Повторите ввод пароля, чтобы убедиться, что вы не ошиблись при наборе"
                       name="dupPassword" size="20" maxlength="40" mandatory=true}}
        {{formSection title="Личная информация"}}
        {{formEdit title="Имя" value=userForm.name name="name" size="30" maxlength="30" mandatory=true}}
        {{#assign "comment"}}Заполните это поле, если у вас есть еврейское имя,
                             отличное от того, которое вы указали в графе <i>Имя</i>{{/assign}}
        {{formEdit title="Еврейское имя" comment=comment value=userForm.jewishName name="jewishName"
                   size="30" maxlength="30"}}
        {{formEdit title="Фамилия" value=userForm.surname name="surname" size="30" maxlength="30" mandatory=true}}
        {{#formSelect title="Пол" name="gender" style="box"}}
            {{formOption title="Мужской" value="0" selected=(not userForm.gender)}}
            {{formOption title="Женский" value="1" selected=userForm.gender}}
        {{/formSelect}}
        {{#formLine title="Дата рождения" name="birthDay"}}
            {{edit name="birthDay" size="2" maxlength="2" value=userForm.birthDay}}
            <select name="birthMonth">
                {{selectOption value=0 title=(safe "&mdash;") selectedValue=userForm.birthMonth}}
                {{#each const.gregorianMonthRuGenLcLong}}
                    {{selectOption value=first title=second selectedValue=userForm.birthMonth}}
                {{/each}}
            </select>
            {{edit name="birthYear" size="4" maxlength="4" value=userForm.birthYear}}
        {{/formLine}}
        {{#assign "comment"}}Вы посещаете &laquo;Мигдаль&raquo; или посещали его раньше? Или, может быть, вы чувствуете
                             себя мигдалевцем в душе?{{/assign}}
        {{formCheckbox title="Мигдалевец" comment=comment name="rights" value=const.userRight.MIGDAL_STUDENT
                       checked=userForm.migdalStudent style="box"}}
        {{#assign "comment"}}Укажите ваш настоящий адрес, потому что на этот адрес будет выслано письмо для
                             подтверждения вашей регистрации. Этот адрес также может понадобиться для связи с вами в
                             экстренных случаях (например, для восстановления забытого пароля){{/assign}}
        {{formEdit title="E-mail" comment=comment value=userForm.email name="email"
                   size="30" maxlength="70" mandatory=true}}
        {{#assign "comment"}}Ответ <i>Да</i> означает, что никто из посетителей сайта (кроме администратора) не
                             увидит ваш адрес E-mail{{/assign}}
        {{formCheckbox title="Скрыть E-mail на сайте" comment=comment name="hideEmail" checked=userForm.hideEmail}}
        {{#assign "comment"}}Ответ <i>Нет</i> означает, что вы не будете получать письма, которые администрация
                             сайта отправляет всем зарегистрированным пользователям. Мы крайне редко отправляем
                             такие письма &mdash; за 15 лет мы не делали этого ни разу{{/assign}}
        {{formCheckbox title="Разрешаю посылать почту на мой адрес" comment=comment name="emailEnabled"
                       checked=userForm.emailEnabled}}
        {{#adminUsers}}
            {{formButtons title="Зарегистрировать"}}
        {{else}}
            {{formButtons title="Зарегистрироваться"}}
        {{/adminUsers}}
    </form>
{{/formTable}}

{{> part/bottom}}