{{> part/preamble}}
{{> part/top}}

{{#formTable title="Вы зашли на сайт"}}
    <form method="get" action="/">
        {{#formComment}}
            <b>Вы зашли на сайт.</b>
            <p>
                Теперь все ваши сообщения будут подписываться вашим ником, а вы получили
                доступ ко всем возможностям сайта.
            </p>
            <p>
                Обратите внимание, что когда сайт опознает вас как зарегистрированного
                пользователя, в верхнем правом углу каждой страницы отображается ваш ник.
                Если вы зайдете на сайт с другого компьютера или после длительного
                перерыва, сайт не сможет вас опознать самостоятельно. Вам нужно будет
                нажать кнопку &laquo;Войти&raquo; в верхнем правом углу и на странице,
                которая откроется, ввести свой ник и пароль.
            </p>
            <p>
                Если вы пользуетесь компьютером, на котором, кроме вас, работают другие
                люди, не забывайте, уходя, нажать кнопку &laquo;Выйти&raquo;, чтобы
                вашим ником не смог воспользоваться другой человек.
            </p>
        {{/formComment}}
        {{formButtons title="На главную страницу" clear=false}}
    </form>
{{/formTable}}

{{> part/bottom}}