{{> part/preamble}}
{{> part/top}}

<form method="post" action="/actions/entry/reorder">
    {{#formTable title=pageTitle mini=true miniTitle=true}}
        {{formErrors}}
        {{hidden name="back" value=rc.location}}
        {{hidden name="origin" value=rc.back}}
        {{hidden name="entryType" value=reorderForm.entryType}}
        {{#formComment}}Перетаскивайте элементы мышью{{/formComment}}
        {{#formComment}}
            <ul id="sortable" class="list-group">
                {{#each reorderForm.entries}}
                    <li class="list-group-item">{{heading}}{{hidden name="ids" value=id}}</li>
                {{/each}}
            </ul>
        {{/formComment}}
        {{formButtons title="Изменить" clear=false}}
    {{/formTable}}
</form>

{{> part/bottom}}