{{> part/preamble}}
{{> part/top}}

{{#formTable title="Вход на сайт" mini=true}}
    {{#notLogged}}
        <form method="post" action="/actions/login">
            {{#ifieq novice 0}}
                {{hidden name="back" value=rc.back}}
            {{else}}
                {{hidden name="back" value="/register/ok/"}}
            {{/ifieq}}
            {{#ifieq novice 1}}
                {{#formComment}}
                    <b>Поздравляем, ваша регистрация успешно подтверждена!</b>
                    <p>
                        Чтобы войти на сайт под своим ником, введите ник и пароль в эту форму и
                        нажмите кнопку &laquo;Войти&raquo; внизу.
                    </p>
                {{/formComment}}
            {{/ifieq}}
            {{#ifieq novice 2}}
                {{#formComment}}
                    <b>Вы уже подтвердили регистрацию.</b>
                    <p>
                        Не нужно снова и снова подтверждать свою регистрацию. Вместо этого
                        нажмите кнопку &laquo;Войти&raquo;, которая находится в верхнем правом
                        углу каждой страницы. Откроется такая же форма, как та, которую вы видите
                        сейчас на экране.
                    </p>
                    <p>
                        Введите ник и пароль в эту форму и нажмите кнопку &laquo;Войти&raquo; внизу.
                    </p>
                {{/formComment}}
            {{/ifieq}}
            <error id='*EL_INVALID' text='Неверный ник или пароль'>
            {{formEdit title="Ник" name="loginForm.login" value=(he loginForm.login) size="30" maxlength="30"}}
            {{formPassword title="Пароль" name="loginForm.password" size="30" maxlength="30"}}
            {{#formSelect title="Чужой компьютер" name="loginForm.myComputer" style="box"}}
                {{formOption title="Я захожу со своего компьютера" value="1" selected=loginForm.myComputer}}
                {{formOption title="Я захожу с чужого компьютера" value="0" selected=(not loginForm.myComputer)}}
            {{/formSelect}}
            {{#formComment}}
                {{#ifieq novice 0}}
                    Если у вас еще нет ника и пароля, вам нужно
                    <a href="/register/?back={{ue rc.back}}">зарегистрироваться</a>.<br>
                {{/ifieq}}
                Забыли пароль? Мы
                <a href="/remember-password/?back={{ue location}}">вышлем вам новый</a>.
            {{/formComment}}
            {{formButtons title="Войти"}}
        </form>
    {{else}}
        <form method="post" action="/actions/logout">
            {{hidden name="back" value=rc.back}}
            {{#formComment}}
                Вы вошли на сайт как
                {{#if rc.userHidden}}
                    <b>{{rc.userLogin}}</b>.
                {{else}}
                    <a href="/users/{{rc.userFolder}}/">{{rc.userLogin}}</a>.
                {{/if}}
            {{/formComment}}
            {{formButtons title="Выйти" clear=false}}
        </form>
    {{/notLogged}}
{{/formTable}}
{{#adminUsers}}
    {{#formTable title="Сменить пользователя" mini=true}}
        <form method="post" action="/actions/su">
            {{hidden name="back" value=rc.back}}
            <error id='*EUS_NO_SWITCH' text='Вы не администратор'>
            <error id='*EUS_NO_USER' text='Такого пользователя не существует'>
            {{formEdit title="Ник" name="login" size="30" maxlength="30"}}
            {{formButtons title="Сменить"}}
        </form>
    {{/formTable}}
{{/adminUsers}}

{{> part/bottom}}