{{#*inline "times_issue"}}
    <div style="width: 120px">
        <div class="issue">
            №{{issues}}
        </div>
        {{#if cover}}
            <div class="month">
                {{cover.comment0}}
            </div>
        {{/if}}
    </div>
{{/inline}}

{{#*inline "batcher"}}
    {{#if editor}}
        <div class="batcher">
            <div class="adder">
                {{image "/pics/sheet.gif"}} <a href="/times/{{issue}}/add/?redirid=$_">Добавить статью</a>
                {{#if cover}}
                    &nbsp;
                    <a href="/times/{{issue}}/reorder/?redirid=$_">Расставить</a>
                {{/if}}
            </div>
            <div class="clear-floats"></div>
        </div>
    {{/if}}
{{/inline}}

{{#*inline "select_issue"}}
    <div class="ninept">
        Номер
        &nbsp;
        <select id="select-issue">
            {{#each allCovers}}
                {{#assign "issueTitle"}}№{{issues}}&nbsp;{{comment0}}{{/assign}}
                {{selectOption value=index1 selectedValue=issue title=issueTitle}}
            {{/each}}
        </select>
    </div>
{{/inline}}

{{#*inline "announce"}}
    {{#if cover}}
        {{#if editor}}
            <div class="batcher">
                <div class="adder">
                    {{image "/pics/sheet.gif"}} <a href="/times/add/?redirid=$_">Добавить номер</a>
                </div>
                <div class="clear-floats"></div>
            </div>
        {{/if}}
        <div style="margin-bottom: 2ex">{{> select_issue}}</div>
        <div style="display: flex">
            <div class="pic" style="width: {{cover.imageX}}px; margin-right: 1em">
                <img width="{{cover.imageX}}" height="{{cover.imageY}}" src="{{cover.imageUrl}}">
            </div>
            <div style="flex: auto">
                {{votePanel align="right" id=cover.id rating=cover.rating}}
                {{mtext cover.bodyMtext}}
                {{postingControls posting=cover showDiscuss=true}}
            </div>
        </div>
    {{/if}}
{{/inline}}

{{#*inline "times_info"}}
    <dl class="info">
        {{#ifge issue 26}}
            <dt>Директор издания</dt>
            <dd>Кира Верховская</dd>
        {{/ifge}}
        {{#iflt issue 26}}
            <dt>Главный редактор</dt>
            <dd>Болеслав Капулкин</dd>
        {{/iflt}}
        {{#ifge issue 36}}
            <dt>Главный редактор</dt>
            <dd>Инна Найдис</dd>
        {{/ifge}}

        {{#ifbtw issue 38 67}}
            <dt>Редактор</dt>
            <dd>Ольга Ксендзюк</dd>
        {{/ifbtw}}
        {{#ifbtw issue 67 86}}
            <dt>Редактор</dt>
            <dd>Людмила Клигман</dd>
        {{/ifbtw}}
        {{#ifbtw issue 86 99}}
            <dt>Редактор</dt>
            <dd>Ольга Ксендзюк</dd>
        {{/ifbtw}}

        <dt>Редколлегия</dt>
        {{#ifge issue 26}}
            <dd>Полина Блиндер</dd>
        {{/ifge}}
        {{#iflt issue 27}}
            <dd>Елена Каракина</dd>
        {{/iflt}}
        <dd>Анна Мисюк</dd>
        {{#iflt issue 36}}
            <dd>Инна Найдис</dd>
        {{/iflt}}
        {{#iflt issue 99}}
            <dd>Леонид Штекель</dd>
        {{/iflt}}
        {{#ifge issue 112}}
            <dd>Ольга Ксендзюк</dd>
        {{/ifge}}

        <dt>Адрес редакции:</dt>
        <dd>г. Одесса, ул. М. Арнаутская, 46-а, к.1. Тел.: 37-21-28.</dd>

        <dt>E-mail:</dt>
        <dd><a href="mailto:m_times@migdal.org.ua">m_times@migdal.org.ua</a></dd>
    </dl>
    <p>
    <em>ДА НЕ ОСКУДЕЕТ РУКА ДАЮЩЕГО</em><br>
    Редакция благодарит Американский распределительный комитет
    «Джойнт», чья любезная помощь сделала возможным выход этого номера.
    <p>
    <em>ДА НЕ ОСКУДЕЕТ ГЛАЗ ЧИТАЮЩЕГО</em><br>
    Редакция благодарит всех читателей, взявших на себя труд прочесть этот номер.
    <p>
    <em>ОСОБАЯ БЛАГОДАРНОСТЬ</em><br>
    Вс-вышнему, благословен Он, для которого нет ничего невозможного.
{{/inline}}

{{#*inline "issue_further"}} {{! params: issue, pic, title }}
    <div style="display: flex; align-items: center">
        {{image pic}}
        <div style="flex: auto; padding-left: 10px; line-height: 10px; text-align: left">
            <a href="/times/{{issue}}/" class="eightpt">{{title}}</a>
        </div>
    </div>
    <p>
{{/inline}}

{{#*inline "sibling"}} {{! params: posting }}
    <div style="width: ${.SmallImageX}px">
        {{#assign "href"}}/times/{{posting.index1}}/{{/assign}}
        {{postingImage posting=posting href=href}}
        <div class="issue">
            {{#ifieq issue posting.index1}}
                №{{posting.issues}}
            {{else}}
                <a href="/times/{{posting.index1}}/">№{{posting.issues}}</a>
            {{/ifieq}}
        </div>
    </div>
    <p>
{{/inline}}

{{#*inline "navigator"}}
    {{#each siblings.list}}
        {{#if @first}}
            {{#if siblings.moreBefore}}
                {{> issue_further issue=index1 pic="/pics/upper.gif" title="Новые номера"}}
            {{else}}
                {{> sibling posting=.}}
            {{/if}}
        {{else}}
            {{#if @last}}
                {{#if siblings.moreAfter}}
                    {{> issue_further issue=index1 pic="/pics/lower.gif" title="Старые номера"}}
                {{else}}
                    {{> sibling posting=.}}
                {{/if}}
            {{else}}
                {{> sibling posting=.}}
            {{/if}}
        {{/if}}
    {{/each}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<table class="page-layout"><tr valign="top">
    <td class="mtimes cframe">
        <div style="display: flex; align-items: baseline; margin-left: 1em; margin-top: 1ex"">
            <div>
                <a href="/times/">{{image "/pics/times.gif" "Мигдаль Times" "Мигдаль Times"}}</a>
            </div>
            <div>
                {{> times_issue}}
            </div>
        </div>
        <div class="nframe" style="padding: 5px; margin-top: 3ex">
            {{> announce}}
        </div>
        <div style="display: flex">
            <div class="nframe ninept" style="width: 170px; padding: 5px; align-self: start">
                {{> times_info}}
            </div>
            <div style="flex: auto; padding: 5px">
                {{> batcher}}
                {{#assign "rubric"}}{{/assign}}
                {{#each articles}}
                    {{#ifne rubric (uc comment0)}}
                        {{#assign "rubric"}}{{uc comment0}}{{/assign}}
                        {{#if rubric}}
                            <div style="display: flex; border-bottom: solid 3px black; padding-bottom: 3px; font-weight: bold">
                                <div style="width: 25px; text-align: left">{{image "/pics/times-bullet.gif"}}</div>
                                <div style="flex: auto; text-align: right">{{rubric}}</div>
                            </div>
                        {{/if}}
                    {{/ifne}}
                    {{> part/posting-times posting=. showTopic=false showDiscuss=true}}
                {{/each}}
                {{#if articles}}
                    {{> batcher}}
                {{/if}}
            </div>
        </div>
    </td>
    <td width="80" align="center" class="mtimes-navigator">
        {{> navigator}}
    </td>
</tr></table>

{{> part/bottom}}
