{{> part/preamble}}
{{> part/top}}

{{#if topicForm.id}}
    {{#assign "formTitle"}}Редактирование темы{{/assign}}
{{else}}
    {{#assign "formTitle"}}Добавление темы{{/assign}}
{{/if}}

{{#formTable title=formTitle}}
    {{formErrors}}
    <form method="post" action="/actions/topic/modify">
        {{hidden name="id" value=topicForm.id}}
        {{starInfo}}
        {{formSection title="Описание темы"}}
        {{formTopicSelect list=topicNames title="Надтема" name="upId" value=topicForm.upId}}
        {{formEdit title="Обозначение" name="ident" value=topicForm.ident size="20" maxlength="75"}}
        {{formEdit title="Название" name="subject" value=topicForm.subject size="50" maxlength="70" mandatory=true}}
        {{formEdit title="Комментарий 0" name="comment0" value=topicForm.comment0 size="50" maxlength="70" xmlid=xmlid}}
        {{formEdit title="Комментарий 1" name="comment1" value=topicForm.comment1 size="50" maxlength="70" xmlid=xmlid}}
        {{formEdit title="Год" name="year" value=topicForm.year size="6" maxlength="6"}}
        {{formEditor title="Описание" name="body" body=topicForm.body xmlid=xmlid}}
        {{formSection title="Права доступа"}}
        {{formEdit title="Владелец" name="userName" value=topicForm.userName size="20" maxlength="30"}}
        {{formEdit title="Группа" name="groupName" value=topicForm.groupName size="20" maxlength="30"}}
        {{formEdit title="Права" name="permString" value=topicForm.permString size="17" maxlength="17"}}
        {{formGrpSelect title="Допустимые сообщения" name="grps" value=topicForm.grps rows="8" multiple=true}}
        {{#formSelect title="Модерирование" name="modbits" style="box" multiple=true}}
            {{#each topicForm.modbitsSelection}}
                {{formOption value=value.value title=value.description selected=selected}}
            {{/each}}
        {{/formSelect}}
        {{#if topicForm.id}}
            {{#assign "buttonTitle"}}Изменить{{/assign}}
        {{else}}
            {{#assign "buttonTitle"}}Добавить{{/assign}}
        {{/if}}
        {{formButtons title=buttonTitle}}
    </form>
{{/formTable}}

{{> part/bottom}}