{{> part/preamble}}
{{> part/top}}

{{#assign "formTitle"}}Удалить тему &laquo;{{topic.subject}}&raquo;{{/assign}}
{{#formTable title=formTitle}}
    {{formErrors}}
    <form method="post" action="/actions/topic/delete">
        {{hidden name="back" value=rc.back}}
        {{hidden name="id" value=topicDeleteForm.id}}
        {{starInfo}}
        {{#formComment}}
            Тема &laquo;{{topic.subject}}&raquo; содержит
            {{#if subtopics}}
                <em>{{subtopics}}</em> {{plural subtopics "подтему,подтемы,подтем"}}
                {{#if posts}} и {{/if}}
            {{/if}}
            {{#if posts}}
                <em>{{posts}}</em> {{plural posts "сообщение,сообщения,сообщений"}}
            {{/if}}
        {{/formComment}}
        {{formTopicSelect list=topicNames title="Отправить сообщения и подтемы в" name="destId"
                          value=topicDeleteForm.destId mandatory=true}}
        {{formButtons title="Удалить тему"}}
    </form>
{{/formTable}}

{{> part/bottom}}