{{> part/preamble}}
{{> part/top}}

{{#formTable title="Информация о пользователе"}}
    {{formErrors}}
    <form method="post" action="/actions/user/modify">
        {{hidden name="id" value=userForm.id}}
        {{starInfo}}
        {{formSection title="Информация для входа на сайт"}}
        {{formEdit title="Ник" name="newLogin" mandatory=true value=userForm.newLogin size="20" maxlength="30"
                   comment="Ваш псевдоним, под которым вы будете появляться на сайте. Вы можете сменить его в любой момент"}}
        {{#assign "comment"}}Не менее 6 символов.<br>Заполните это поле, только если вы хотите сменить пароль{{/assign}}
        {{formPassword title="Пароль" comment=comment name="newPassword" size="20" maxlength="40"}}
        {{formPassword title="Пароль (еще раз)" name="dupPassword" size="20" maxlength="40"
                       comment="Повторите ввод пароля, чтобы убедиться, что вы не ошиблись при наборе"}}
        {{formSection title="Личная информация"}}
        {{formEdit title="Имя" value=userForm.name name="name" size="30" maxlength="30" mandatory=true}}
        {{#assign "comment"}}Заполните это поле, если у вас есть еврейское имя,
                             отличное от того, которое вы указали в графе <i>Имя</i>{{/assign}}
        {{formEdit title="Еврейское имя" comment=comment value=userForm.jewishName name="jewishName"
                   size="30" maxlength="30"}}
        {{formEdit title="Фамилия" value=userForm.surname name="surname" size="30" maxlength="30" mandatory=true}}
        {{#formSelect title="Пол" name="gender" style="box"}}
            {{formOption title="Мужской" value="0" selected=(not userForm.gender)}}
            {{formOption title="Женский" value="1" selected=userForm.gender}}
        {{/formSelect}}
        {{#formLine title="Дата рождения" name="birthDay"}}
            {{edit name="birthDay" size="2" maxlength="2" value=userForm.birthDay}}
            <select name="birthMonth">
                {{selectOption value=0 title=(safe "&mdash;") selectedValue=userForm.birthMonth}}
                {{#each const.gregorianMonthRuGenLcLong}}
                    {{selectOption value=value title=title selectedValue=userForm.birthMonth}}
                {{/each}}
            </select>
            {{edit name="birthYear" size="4" maxlength="4" value=userForm.birthYear}}
        {{/formLine}}
        {{#assign "comment"}}Вы посещаете &laquo;Мигдаль&raquo; или посещали его раньше? Или, может быть, вы чувствуете
                             себя мигдалевцем в душе?{{/assign}}
        {{formCheckbox title="Мигдалевец" comment=comment name="rights" value=const.userRight.MIGDAL_STUDENT
                       checked=userForm.migdalStudent style="box"}}
        {{formEditor title="Коротко о себе"
                     comment="Напишите несколько слов о себе: биография, работа, друзья, интересы..."
                     name="info" body=userForm.info}}
        {{!-- help_link href='/help/formatting/'
                        title='Список обозначений, используемых в тексте' --}}
        {{#editable user}}
            {{#assign "comment"}}Укажите ваш настоящий адрес, потому что на этот адрес будет выслано письмо для
                                 подтверждения вашей регистрации. Этот адрес также может понадобиться для связи с вами
                                 в экстренных случаях (например, для восстановления забытого пароля){{/assign}}
            {{formEdit title="E-mail" comment=comment value=userForm.email name="email"
                       size="30" maxlength="70" mandatory=true}}
            {{#assign "comment"}}Ответ <i>Да</i> означает, что никто из посетителей сайта (кроме администратора) не
                                 увидит ваш адрес E-mail{{/assign}}
            {{formCheckbox title="Скрыть E-mail на сайте" comment=comment name="hideEmail" checked=userForm.hideEmail}}
            {{#assign "comment"}}Ответ <i>Нет</i> означает, что вы не будете получать письма, которые администрация
                                 сайта отправляет всем зарегистрированным пользователям. Мы крайне редко отправляем
                                 такие письма &mdash; за 15 лет мы не делали этого ни разу{{/assign}}
            {{formCheckbox title="Разрешаю посылать почту на мой адрес" comment=comment name="emailEnabled"
                           checked=userForm.emailEnabled}}
            {{#if userForm.bouncingEmail}}
                <tr><td colspan="2" class="error">
                    Отправка почты на этот адрес временно приостановлена, поскольку адрес не работает
                </td></tr>
            {{/if}}
        {{/editable}}
            {{#adminUsers}}
                {{formCheckbox name="hasPersonal" checked=userForm.hasPersonal title="Имеет персональную страницу"}}
                {{formSection title="Привилегии"}}
                {{formCheckbox title="Администратор пользователей" name="rights" value=const.userRight.ADMIN_USERS
                               checked=userForm.adminUsers style="box"}}
                {{formCheckbox title="Администратор тем" name="rights" value=const.userRight.ADMIN_TOPICS
                               checked=userForm.adminTopics style="box"}}
                {{formCheckbox title="Модератор" name="rights" value=const.userRight.ADMIN_MODERATOR
                               checked=userForm.moderator style="box"}}
                {{formCheckbox title="Администратор субдоменов" name="rights" value=const.userRight.ADMIN_DOMAIN
                               checked=userForm.adminDomain style="box"}}
                {{formCheckbox name="hidden" checked=userForm.hidden title="Скрыть в списке пользователей" style="box"}}
                {{formCheckbox name="noLogin" checked=userForm.noLogin title="Запретить вход" style="box"}}
            {{/adminUsers}}
        {{formButtons title="Изменить"}}
    </form>
{{/formTable}}

{{> part/bottom}}