{{#*inline "infoline"}} {{! params: title, value, class, escape }}
    {{#if value}}
        <tr valign="top" class="{{class}}">
            <th>{{title}}:</th>
            <td width="100%">{{#if escape}}{{value}}{{else}}{{{value}}}{{/if}}</td>
        </tr>
    {{/if}}
{{/inline}}

{{#*inline "controls"}}
    {{#editable user}}
        <br>
        <p class="ninept">
            &nbsp;
            {{#if admin}}
                {{#assign "path"}}/admin/users/{{user.folder}}/edit{{/assign}}
            {{else}}
                {{#assign "path"}}/users/{{user.folder}}/edit{{/assign}}
            {{/if}}
            <a href="{{path}}">Изменить информацию о пользователе</a>
        </p>
    {{/editable}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<div style="padding: 5px; margin: 10px" class="cframe">
    {{subtitle}}
    {{> controls}}
    <table width="100%" class="userinfo vcard">
        {{> infoline title="Ник" value=user.login class="nickname" escape=true}}
        <tr style="display: none"><td colspan="2" class="n">
            <span class="given-name">{{user.name}}</span>
            <span class="family-name">{{user.surname}}</span>
            <span class="additional-name">{{user.jewishName}}</span>
        </td></tr>
        {{> infoline title="Имя" value=user.fullName class="fn" escape=true}}
        {{#if user.man}}
            {{> infoline title="Пол" value="Мужской" class="" escape=false}}
        {{else}}
            {{> infoline title="Пол" value="Женский" class="" escape=false}}
        {{/if}}
        {{#unless user.birthday}}
            {{#assign "birthdayDate"}}
                {{#if user.birthdayDay}}
                    {{user.birthdayDay}}
                {{/if}}
                {{#if user.birthdayMonth}}
                    {{month "gregorian-ru-gen-lc" user.birthdayMonth}}
                {{/if}}
                {{#if user.birthdayYear}}
                    {{user.birthdayYear}}
                {{/if}}
            {{/assign}}
        {{else}}
            {{#assign "birthdayDate"}}
                {{cal "gregorian-ru-gen-lc" "dd MMMM yyyy" date=user.birthday}}
                /
                {{cal "jewish-ru-gen-lc" "dd MMMM yyyy" date=user.birthday}}
            {{/assign}}
        {{/unless}}
        {{> infoline title="Дата рождения" value=birthdayDate class="" escape=false}}
        {{#if user.migdalStudent}}
            {{> infoline title="Мигдалевец" value="Да" class="" escape=false}}
        {{else}}
            {{> infoline title="Мигдалевец" value="Нет" class="" escape=false}}
        {{/if}}
        {{#if user.infoXml}}
            {{#assign "infoHtml"}}{{{mtext user.infoMtext}}}{{/assign}}
            {{> infoline title="Коротко о себе" value=infoHtml escape=false}}
        {{/if}}
        {{#if user.emailVisible}}
            <tr valign="top">
                <th>E-mail:</th>
                <td width="100%" class="email">
                    {{mailToLink user}}&nbsp;
                    {{#ifieq user.emailDisabled 2}}
                        <i>(адрес не работает)</i>
                    {{/ifieq}}
                </td>
            </tr>
        {{/if}}
        <tr valign="top">
            <th>Последний раз<br>заходил сюда:</th>
            <td width="100%">{{lastOnline user}}</td>
        </tr>
    </table>
    {{> controls}}
</div>

{{> part/bottom}}