<?php
# @(#) $Id$

##
## Конфигурация ядра Migdal
##

# Используемый UI
$uiName='migdal';

# Хост, на котором лежит БД
$dbHost='localhost';

# Имя БД
$dbName='migdal';

# Пользователь БД
$dbUser='root';

# Пароль БД
$dbPassword='xxxxxxxx';

# Отладочный режим (включает отладочные сообщения PHP)
$debug=0;

# Максимальный размер картинки, прикрепляемой к сообщениям (в байтах)
$maxImage=2097152;

# Максимальный размер статьи (в байтах)
$maxLargeText=2097152;

# Тип (MIME-type) уменьшенной картинки, генерируемой при создании сообщения
$thumbnailType='image/jpeg';

# Ширина уменьшенной картинки (в пикселах)
$thumbnailWidth=50;

# Высота уменьшенной картинки (в пикселах)
$thumbnailHeight=50;

# Максимальное время (в часах) неактивности сессии, после истечения которого
# она удаляется
$sessionTimeout=1;

# Максимальное время (в часах) хранения в БД временно сохраненного текста с
# момента последнего обращения к нему
$tmpTextTimeout=24;

# Максимальное время (в часах) хранения в БД редиректа с момента последнего
# обращения к нему
$redirTimeout=24;

# Время (в сутках) ожидания подтверждения пользователем регистрации на сайте
$regConfirmTimeout=3;

# Максимальное время (в минутах) между загрузками панели чата, по истечении
# которого пользователь считается вышедшим
$chatTimeout=2;

# Запретить непосредственную регистрацию пользователей (только создание
# пользователей администратором)
$disableRegister=false;

# Количество просмотров "пейджерного" сообщения
$instantViews=3;

# Корректировка (в часах) отображаемого времени относительно хранимого
$fixTime=0;

# Параметры сокращения текстов до "крохотного" размера
$tinySize=64;
$tinySizeMinus=32;
$tinySizePlus=32;

# Параметры сокращения текстов до "среднего" размера
$mediumSize=1024;
$mediumSizeMinus=512;
$mediumSizePlus=512;

# Параметры сокращения текстов для вставки в виде примечаний по ссылке
$inplaceSize=256;
$inplaceSizeMinus=128;
$inplaceSizePlus=128;

# Каталог, в котором находится сайт на Web-сервере
$siteDir='/home/balu/prog/migdal-html/migdal';

# Каталог, в котором находятся скрипты (hourly, mailrobot, etc.) на Web-сервере
$scriptsDir='/home/balu/prog/migdal-html/scripts';

# Каталог, в котором находятся файлы с образцами писем на Web-сервере
$mailingsDir='/home/balu/prog/migdal-html/migdal/mailings';

# Использовать mogrify (из пакета ImageMagick) для обработки картинок
$useMogrify=true;

# Путь к mogrify
$mogrifyPath='mogrify';

# Путь к wget
$wgetPath='wget';

# Команда для отправки почты
$sendmailCommand='/usr/sbin/sendmail -t';

# Маленькое изображение, используемое в случае, когда невозможно изменить
# размеры большого (путь задается относительно библиотеки, т.е. каталога lib/)
$defaultThumbnail='../migdal/pics/click_here.jpg';

# Каталог для временных файлов
$tmpDir='/tmp';

# Маска премодерируемых по умолчанию постингов
$defaultPremoderate=15;

# Настройки сообщений в форуме (ForumAnswer)

$forumanswerMandatorySubject=false;	# Не реализовано
$forumanswerMandatoryAuthor=false;	# Не реализовано
$forumanswerMandatorySource=false;	# Не реализовано
$forumanswerMandatoryBody=true;
$forumanswerMandatoryLargeBody=false;	# Не реализовано
$forumanswerMandatoryImage=false;
$forumanswerMandatoryTitle=false;	# Не реализовано

# Пользователи

# Супервизор
$rebeLogin='admin';
$rebePassword='test';

# Псевдопользователь
$shamesLogin='nobody';

# Обычный пользователь
$regularLogin='test';
$regularPassword='test';
?>
