<?php
# @(#) $Id$

require_once('lib/grps.php');
require_once('lib/modbits.php');
require_once('lib/text-formats.php');
require_once('lib/debug-log-levels.php');

#****************************#
#                            #
#  Конфигурация ядра Migdal  #
#                            #
#****************************#

## Общие настройки ##

# Хост, на котором лежит БД
$dbHost='localhost';

# Имя БД
$dbName='migdal';

# Пользователь БД
$dbUser='root';

# Пароль БД
$dbPassword='xxxxxxxx';

# Кодировка соединения с БД, нотация MySQL
$dbCharset='koi8u';

# Внутренняя кодировка, должна совпадать с $dbCharset, но нотация iconv
$charsetInternal='KOI8-U';

# Внешняя кодировка, нотация iconv
$charsetExternal='CP1251';

# Домен сайта
$siteDomain='migdal.localhost';

# Корректировка (в часах) отображаемого времени относительно хранимого
$fixTime=0;

# Запретить непосредственную регистрацию пользователей (только создание
# пользователей администратором)
$disableRegister=false;

# Использовать ли getexec.pl для обхода ограничений на запуск команд из PHP
$cgiExec=false;

# Разрешать ли обращение к PHP-скриптам напрямую из URL-а
$directScripts=true;

## Общие пути ##

# Домашний каталог пользователя на Web-сервере
$homeDir='/home/balu/web/migdal-html/.build';

# Каталог, в котором находится сайт на Web-сервере
$siteDir='/home/balu/web/migdal-html/.build/www';

# Каталог, в котором находятся скрипты (hourly, mailrobot, etc.) на Web-сервере
$scriptsDir='/home/balu/web/migdal-html/.build/scripts';

# Каталог для временных файлов
$tmpDir='/tmp';

## Программы ##

# Команда для запуска PHP4 в режиме командной строки
$phpCommand='/usr/bin/php4';

# Путь к wget
$wgetPath='wget';

# Команда для упаковки каталога (имя каталога подставляется вместо '%', имя
# каталога, в котором он находится - вместо '#') на STDOUT
$compressCommand='(cd #; tar zcf - %)';

# Тип (MIME-type) упакованного каталога
$compressType='application/x-tar';

# Encoding упакованного каталога
$compressEncoding='x-gzip';

## Общие таймауты ##

# Максимальное время (в часах) неактивности сессии, после истечения которого
# она удаляется. Короткая сессия открывается для пользователей, заходящих с
# чужого компьютера, длинная - со своего.
$shortSessionTimeout=3;
$longSessionTimeout=2400;

# Максимальное время (в часах) хранения в БД временно сохраненного текста с
# момента последнего обращения к нему
$tmpTextTimeout=24;

# Максимальное время (в часах) хранения в БД редиректа с момента последнего
# обращения к нему
$redirTimeout=24;

# Максимальное время (в часах) хранения в БД CAPTCHA с момента ее создания
$captchaTimeout=24;

# Максимальное время (в часах) хранения файла-картинки, не привязанного ни к
# одному сообщению
$imageFileTimeout=6;

# Время (в сутках) ожидания подтверждения пользователем регистрации на сайте
$regConfirmTimeout=3;

# Промежуток времени (в часах), по истечении которого снимается флаг disabled
# с сообщений, которые еще не были просмотрены модератором.
$messageEnableTimeout=3;

## Отладка и статистика ##

# Отладочный режим (включает отладочные сообщения PHP)
$debug=false;

# Уровень отладочных логов. В лог попадут только сообщения большей либо равной
# важности.
$debugLogLevel=LL_OFF;

# Максимальная длина строки данных, попадающей в логи
$debugLogEllipSize=64;

# Имя файла для отладочных логов
$debugLogFile='/home/balu/web/migdal-html/debug.log';

# Выключить статистические логи
$disableStatistics=false;

# Время жизни (в сутках) статистики.
# Если это значение <= 0, статистика не удаляется никогда.
$statisticsTimeout=30;

# Количество записей статистики, скачиваемых за один раз
$statisticsQuota=5000;

# Уровень профайлинга:
#   0 - выключен
#   1 - только информация о страницах
#   2 - вся информация
$profilingLevel=0;

## Картинки ##

# Максимальный размер картинки, прикрепляемой к сообщениям (в байтах)
$maxImageSize=2097152;

# Тип (MIME-type) уменьшенной картинки, генерируемой при создании сообщения
$thumbnailType='image/jpeg';

# Ширина уменьшенной картинки (в пикселах)
$thumbnailWidth=100;

# Высота уменьшенной картинки (в пикселах)
$thumbnailHeight=100;

# Маленькое изображение, используемое в случае, когда невозможно изменить
# размеры большого (путь задается относительно библиотеки, т.е. каталога lib/)
$defaultThumbnail='../pics/click_here.jpg';

# Изображение, накладываемое на уменьшенную картинку, чтобы подсказать
# пользователю, что на картинку можно нажать
$glassImagePath='/home/balu/web/migdal-html/.build/www/pics/glass.png';

# Каталог для картинок
$imageDir='/home/balu/web/migdal-html/.build/www/images';

# Базовый URL для картинок
$imageURL='/images';

## Тексты ##

# Максимальный размер статьи (в байтах)
$maxLargeText=2097152;

# Параметры сокращения текстов до "размера горошины"
$peaSize=32;
$peaSizeMinus=16;
$peaSizePlus=16;

# Параметры сокращения текстов до "крохотного" размера
$tinySize=64;
$tinySizeMinus=32;
$tinySizePlus=32;

# Параметры сокращения текстов до "маленького" размера
$smallSize=256;
$smallSizeMinus=128;
$smallSizePlus=128;

# Параметры сокращения текстов до "среднего" размера
$mediumSize=1024;
$mediumSizeMinus=512;
$mediumSizePlus=512;

# Параметры сокращения текстов для вставки в виде примечаний по ссылке
$inplaceSize=256;
$inplaceSizeMinus=128;
$inplaceSizePlus=128;

# Размер, до которого укорачиваются URL'ы (при помощи многоточия)
$urlEllipSize=60;

# Размер, до которого укорачиваются запросы (при помощи многоточия)
$queryEllipSize=256;

# Размер, до которого укорачиваются полные имена тем
$fullNameShortSize=75;

# Управляет отображением символов '> > >' в квотинге
$showQuoteChars=false;

## Голосование ##

# Вес голоса зарегистрированного пользователя
$userVoteWeight=2;

# Вес голоса модератора
$moderatorVoteWeight=3;

# Время жизни (в часах) информации о голосовании незарегистрированного
# пользователя
$anonVoteTimeout=3;

# Время жизни (в часах) информации о голосовании зарегистрированного
# пользователя
$userVoteTimeout=720;

## Проверка URLов ##

# Минимальное время (в сутках) между проверками одного и того же URL'а
$urlCheckTimeout=2;

# Количество URL'ов, проверяемых за один вызов скрипта
$urlCheckQuota=20;

## Книги ##

# Каталог, в котором находятся упакованные книги на Web-сервере. Если эта
# переменная не установлена, упакованные книги будут храниться в БД.
$bookCompressDir='/home/balu/web/migdal-html/.build/www/books';

# URL, по которому можно найти каталог с упакованными книгами
$bookCompressURL='/books';

# Команда для упаковки каталога с книгой (имя каталога подставляется вместо
# '%', имя каталога, в котором он находится - вместо '#') на STDOUT
$bookCompressCommand='(cd #; zip -r -q - %)';

# Тип (MIME-type) упакованного каталога с книгой
$bookCompressType='application/zip';

## Почта ##

# Каталог, в котором находятся файлы с шаблонами писем на Web-сервере
$mailingsDir='/home/balu/web/migdal-html/.build/mailings';

# Эти два параметра задают частоту отправки писем с сервера. Максимальная
# разрешенная частота - это $mailSendLimit писем за $mailSendPeriod минут.
$mailSendLimit=10;
$mailSendPeriod=10;

# Префикс, который вставляется в начало заголовка всех отправляемых писем
$mailSubjectPrefix='[Мигдаль] ';

# Адрес, который проставляется в поле "From:" всех отправляемых писем
$mailFromAddress='mailrobot@migdal.ru';

# Адрес, который проставляется в поле "Reply-To:" всех отправляемых писем
$mailReplyToAddress='webmaster@migdal.ru';

## Права по умолчанию ##

# Права на несуществующую "корневую" тему
$rootTopicUserName='admin';
$rootTopicGroupName='admin';
$rootTopicPerms=0x19FF;

# Права по умолчанию для постинга
$rootPostingPerms=0x99FF;

# Права по умолчанию для форума
$rootForumPerms=0x5557;

# Права по умолчанию для жалобы
$rootComplainUserName='admin';
$rootComplainGroupName='admin';
$rootComplainPerms=0xDDDF;

# Флаги модерирования/редактирования по умолчанию для тем
$rootTopicModbits=MODT_PREMODERATE|MODT_MODERATE|MODT_EDIT;

# Права гостей
$allowGuests=true;

## Настройки пользователей ##

$usersMandatorySurname=false;

## Настройки тем ##

$topicMandatoryDescription=true;

## Настройки сообщений в форуме (Forum) ##

$forumPremoderate=false;
$forumMandatorySubject=false;
$forumMandatoryAuthor=false;
$forumMandatoryBody=true;
$forumMandatoryImage=false;

## Форматы текстов по умолчанию ##

# Для обычных постингов, тем, жалоб
$tfRegular=TF_PLAIN;

# Для форумов
$tfForum=TF_MAIL;

# Для больших текстов
$tfLarge=TF_PLAIN;

# Для информации о пользователе
$tfUser=TF_PLAIN;

## Пользователи, создаваемые изначально ##

# Супервизор
$rebeLogin='admin';
$rebePassword='test';

# Псевдопользователь
$shamesLogin='nobody';

# Обычный пользователь
$regularLogin='test';
$regularPassword='test';

# Гость
$guestLogin='Гость';

## Репликация ##

# Роль хоста в репликации. Если хост в репликациях не участвует (не принимает и
# не отправляет информацию), эта переменная должна быть установлена в true.
$replicationMaster=true;

# Включить журнал репликаций. Он необходим, если данные с этого хоста должны
# реплицироваться на другой.
$replicationJournal=false;

# Тип (MIME-type) репликационной информации
$replicationType='application/x-migdal-replication';

# Время жизни (в минутах) блокировки репликации
$replicationLockTimeout=5;

# Имя авторитетной базы данных при репликации на slave
$replicationDbName='migdal_a';

# Время жизни (в сутках) журнальной переменной
$journalVarTimeout=3;

# Время жизни (в сутках) незакрытой транзакции
$unclosedSeqTimeout=2;

#*********#
#  Конец  #
#*********#
?>
