<!--

    This is default template file for mnoGoSearch 3.2
    (C) 1999-2001, mnoGoSearch developers team <devel@mnogosearch.org>

    Please rename to search.htm and edit as desired.
    See doc/README.templates for detailed information.
    You may want to keep the original file for future reference.

    WARNING: Use proper chmod to protect your passwords!
-->
<!--variables
# Database parameters are to be used with SQL backend
# and do not matter for built-in text files support
# Format: <DBType>:[//[DBUser[:DBPass]@]DBHost[:DBPort]]/DBName/[?dbmode=mode]
DBAddr	mysql://user:password@localhost/migdal_mnogosearch/?dbmode=crc

# Uncomment this line to enable query tracking facility
#TrackQuery yes

# Uncomment this line to enable search result cache
#Cache yes

#  Uncomment this line if you do not want to detect and show clones
#DetectClones	no

# Use proper local and browser charsets
# Default charset is iso-8859-1 (latin1)
# which is suitable for the most Western European languages

LocalCharset   cp1251
BrowserCharset cp1251

# Load stopwords file.  File name is either absolute
# or relative to /etc directory of mnoGoSearch installation.

StopwordFile stopwords/en.sl
StopwordFile stopwords/ru.sl

# Minimum and maximum word lengths

MinWordLen 2
MaxWordLen 32

# Number of pages in navigator bar
#
#PagesPerScreen 10

# Ispell dictionaries
Affix ru koi8-r ispell/russian.aff
Spell ru koi8-r ispell/migdal.dict
Spell ru koi8-r ispell/russian.dict

# Load synonyms file.  File name is either absolute
# or relative to /etc directory of mnoGoSearch installation.

Synonym synonym/english.syn
Synonym synonym/russian.syn
Synonym synonym/migdal.syn

#
# How to hilight searched words.
#
HlBeg	<b>
HlEnd	</b>

# Uncomment this line to enable document presence at stored
#StoredAddr localhost
#

# Uncomment this line to change default URL basis for storedoc.cgi
#StoredocURL     /cgi-bin/storedoc
#

# Uncoment this line to change default maximal excerpt size. Default value is 256.
#ExcerptSize 1024
#

# Uncomment this line to change Last-Modified format output
# Use strftime function meta variables
#DateFormat %d %b %Y %X %Z

-->

<!--top-->
<!--/top-->


<!--restop-->
OK
$(W)
$(total)
$(first)
$(last)
<!--/restop-->


<!--res-->
ITEM
$(URL)
$(Score)
$&(Body)...
$&(Title)
<!--/res-->


<!--resbot-->
<!--/resbot-->


<!--clone-->
<!--/clone-->


<!--navleft-->
<!--/navleft-->

<!--navleft_nop-->
<!--/navleft_nop-->

<!--navbar1-->
<!--/navbar1-->

<!--navbar0-->
<!--/navbar0-->

<!--navright-->
<!--/navright-->

<!--navright_nop-->
<!--/navright_nop-->



<!--notfound-->
OK
$(W)
0
0
0
<!--/notfound-->



<!--noquery-->
EMPTY
<!--/noquery-->



<!--error-->
ERROR
<!--/error-->



<!--bottom-->
<!--/bottom-->
