// @(#) $Id$

.picture-main {
	background-image: url(@picture_main_back_pic);
	width: 150px;
	height: 120px;
}

.picture-controls {
    display: none;
}

.fancybox-title {

    .picture-title {
        padding-left: 2em;
    }

    .sent {
        margin-top: .5ex;
    }

    .picture-bottom {
        margin-top: 1ex;
        clear: both;

        A {
            font-size: 8pt;
            color: @posting_controls;
            text-decoration: none;

            &:hover {
                color: @posting_controls_hover;
                text-decoration: underline;
            }
        }
    }
}
