// @(#) $Id: sheet-forum.mcss 2653 2010-04-25 11:52:16Z balu $

.forums {
	background-color: @forum_border;
}

.forum .header {
	background-color: @forum_header_back;
	padding-left: .5em;
}

.forum .body {
	background-color: @forum_body_back;
	padding-left: .5em;
	padding-top: .5em;
	padding-bottom: 1em;
}

.forum .controls {
	background-color: @forum_body_back;
 	padding-bottom: 0.5ex;
}

.forum .controls A {
	font-size: 8pt;
	color: @forum_controls;
	text-decoration: none;
}

.forum .controls A:hover {
	color: @forum_controls_hover;
	text-decoration: underline;
}

.forum .quote {
	font-size: 8pt;
	border-left: solid 1px @forum_quote;
	padding-left: 5px;
}
