// @(#) $Id$

.forums {
	background-color: @forum_border;
}

.forum {
    .header {
        background-color: @forum_header_back;
        padding-left: .5em;
    }

    .body {
        background-color: @forum_body_back;
        padding-left: .5em;
        padding-top: .5em;
        padding-bottom: 1em;
    }

    .controls {
        background-color: @forum_body_back;
        padding-bottom: 0.5ex;

        A {
            font-size: 8pt;
            color: @forum_controls;
            text-decoration: none;

            &:hover {
                color: @forum_controls_hover;
                text-decoration: underline;
            }
        }
    }

    .quote {
        font-size: 8pt;
        border-left: solid 1px @forum_quote;
        padding-left: 5px;
    }
}
