// @(#) $Id: sheet-seealso.mcss 2659 2010-04-26 20:43:48Z balu $

.seealso {
	margin: 5px;
	font-size: 9pt;
}

LI.seealso-links {
	list-style-image: url("/pics/outlink.gif");
}

.seealso A.edit {
	color: @topics_controls;
	font-size: 8pt;
}

.seealso A.edit:hover {
	color: @topics_controls_hover;
}
