{{#if dailyNews}}
    <div style="margin-bottom: 3ex; max-width: 700px">
        <div class="textears-title" style="margin-bottom: 1ex">{{dailyNewsTopic.comment0}}:</div>
        <div style="display: flex">
            {{#if dailyPicture}}
                {{#if dailyPicture.hasImage}}
                    <div style="flex: none; align-self: center; max-width: 200px">
                        {{postingImage posting=dailyPicture href=dailyPicture.href}}
                    </div>
                {{/if}}
            {{/if}}
            <div style="flex: auto">
                <ul class="ninept" style="margin-bottom: 0">
                    {{#each dailyNews}}
                        <li>
                            <b>{{subject}}.</b>
                            <a href="{{grpDetailsHref}}">{{mtext comment0Mtext}}</a>
                        </li>
                    {{/each}}
                </ul>
                <div style="padding-left: 3em">
                    <a href="{{dailyNewsTopic.href}}" class="eightpt"><b>Все дни</b></a>
                </div>
            </div>
        </div>
    </div>
{{/if}}
