<div class="topics-header">Последние комментарии</div>
<div class="discussions">
    {{#cached discussionsCache}}
        {{#each discussions}}
            <div class="item">
                {{#if comments}}
                    <div class="content">
                        {{senderLink lastComment}} <span class="quote">
                            <a href="{{grpDetailsHref}}?tid={{lastComment.id}}#t{{lastComment.id}}">{{lastComment.bodyTiny}}</a>
                        </span>
                    </div>
                    <span class="time fuzzy-time" data-time="{{lastCommentTimestamp.time}}"></span>
                {{else}}
                    <div class="content">
                        {{senderLink this}} <span class="quote">
                            <a href="{{grpDetailsHref}}">{{bodyTiny}}</a>
                        </span>
                    </div>
                    <span class="time fuzzy-time" data-time="{{sent.time}}"></span>
                {{/if}}
            </div>
        {{/each}}
    {{/cached}}
    <div class="other"><a href="/forum/">Все обсуждения</a></div>
</div>
