{{#*inline "batcher"}} {{! params: list }}
    <div class="batcher">
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{#*inline "errorLines"}}
    {{#if errors}}
        <table class="form" width="100%">
            {{formErrors exceptForm="forumForm"}}
        </table>
    {{/if}}
{{/inline}}

{{> errorLines}}
{{> batcher list=forums}}
<a name="comments"></a>
<div class="forums">
    {{#each forums}}
        {{> part/forum forum=this posting=posting}}
    {{/each}}
</div>
{{#if forums}}
    {{> batcher list=forums}}
{{/if}}
{{#postable posting}}
    <a name="comment-add"></a>
    {{> part/forum-edit forumForm=forumForm posting=posting xmlid=0}}
{{/postable}}
