<a name="t{{forum.id}}"></a>
<div class="forum">
    <div class="header">
        {{senderLink forum}}<br>
        <span class="sent">{{sentView date=forum.sent}}</span>
        <a href="{{posting.grpDetailsHref}}?tid={{forum.id}}#t{{forum.id}}">{{image "/pics/self.gif"}}</a>
    </div>
    <div class="content">
        <div class="body">
            {{mtext forum.bodyMtext}}
        </div>
        <div class="controls">
            &nbsp;
            <a href="#comment-add" class="forum-reply" title="Ответить с цитированием">Ответить</a>
            {{#writable forum}}
                &nbsp;
                <a href="/edit-forum/{{forum.id}}?back={{ue rc.location}}">Изменить</a>
                {{#moderator}}
                    &nbsp;
                    {{#if forum.disabled}}
                        <a href="/actions/entry/moderate?id={{forum.id}}&amp;hide=0&amp;back={{ue rc.location}}">Разрешить показ</a>
                    {{else}}
                        <a href="/actions/entry/moderate?id={{forum.id}}&amp;hide=1&amp;back={{ue rc.location}}">Запретить показ</a>
                    {{/if}}
                    &nbsp;
                    <a href="/actions/forum/delete?id={{forum.id}}&amp;back={{ue rc.location}}">Удалить</a>
                {{/moderator}}
            {{/writable}}
        </div>
    </div>
</div>
