{{#*inline "batcher"}} {{! params: list }}
    <div class="batcher">
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{#*inline "editor"}}
    <form method="post" enctype="multipart/form-data" action="/actions/forum/modify">
        {{#formTable title="Добавление комментария"}}
            {{formErrors}}
            {{hidden name="origin" value=rc.location}}
            {{hidden name="back" value=rc.location}}
            {{hidden name="parentId" value=forumForm.parentId}}
            {{starInfo}}
            {{formRelogin relogin=forumForm.relogin noGuests=noGuests guestLogin=forumForm.guestLogin
                          login=forumForm.login remember=forumForm.remember}}
            {{!<form_captcha id='captcha' name='captcha'>}}
            {{formEditor title="Текст" name="body" body=forumForm.body rows="12" mandatory=true}}
            {{#logged}}
                {{#formSelect title="Видимость" name="hidden" style="box"}}
                    {{formOption title="Сообщение видно всем пользователям" value="0" selected=(not forumForm.hidden)}}
                    {{formOption title="Сообщение видно только автору и модераторам" value="1" selected=forumForm.hidden}}
                {{/formSelect}}
            {{else}}
                {{hidden name="hidden" value="0"}}
            {{/logged}}
            {{#moderator}}
                {{#formSelect title="Запретить показ"
                              comment="Модераторский запрет на показ сообщения. Пользователь не может снять этот запрет."
                              name="disabled" style="box"}}
                    {{formOption title="Нет запрета на показ всем пользователям" value="0"
                                 selected=(not forumForm.disabled)}}
                    {{formOption title="Разрешено показывать только автору и модераторам" value="1"
                                 selected=forumForm.disabled}}
                {{/formSelect}}
            {{else}}
                {{hidden name="disabled" value=forumForm.disabled}}
            {{/moderator}}
            {{formButtons title="Добавить"}}
        {{/formTable}}
    </form>
{{/inline}}

{{> batcher list=forums}}
{{!<outer><table width=100% cellspacing=0 cellpadding=0><tr><td><inner>
 <error id='*EMH_NO_ENTRY' text='Такого сообщения не существует'>
 <error id='*EMH_NO_MODERATE' text='Вы не модератор'>
</inner></tr></td></table></outer>}}
<div class="forums">
    {{#each forums}}
        {{> part/forum forum=this posting=posting}}
    {{/each}}
</div>
{{#if forums}}
    {{> batcher list=forums}}
{{/if}}
{{#postable posting}}
    {{> editor}}
{{/postable}}
