{{#notEnglish}}
    {{#unless menuNoLogin}}
        {{#notLogged}}
            <div class="top-button">
                <a href="/signin/?back={{ue location}}">{{image "/pics/enter.gif" alt="Войти"}}</a>
            </div>
            <div class="eightpt top-button">
                Чтобы войти, сначала <a href="/register/?back={{ue location}}">зарегистрируйтесь</a>.
            </div>
        {{else}}
            <div id="login" class="top-button">
                {{#if rc.userHidden}}
                    <strong>{{rc.userLogin}}</strong>
                {{else}}
                    <a href="/users/{{rc.userFolder}}"><strong>{{rc.userLogin}}</strong></a>
                {{/if}}
                <form method="post" action="/actions/logout">
                    {{hidden name="back" value=location}}
                    {{image "/pics/exit.gif" alt="Выйти" button=true}}
                </form>
                {{#adminUsers}}
                    <a href="/signin/?back={{ue location}}">{{image "/pics/su.gif" alt="Сменить"}}</a>
                {{/adminUsers}}
            </div>
        {{/notLogged}}
    {{/unless}}
{{/notEnglish}}
