{{#*inline "menuitem"}}
    {{#ifeq ident menuMain}}
        {{#assign "src"}}/pics/menu-{{ident}}.gif{{/assign}}
    {{else}}
        {{#assign "src"}}/pics/menu-{{ident}}-na.gif{{/assign}}
    {{/ifeq}}
    <a href="{{link}}">{{image src alt=alt}}</a>
{{/inline}}

{{#*inline "today"}}
    {{#unless englishDomain}}
        {{cal "jewish-ru-gen-lc" "d MMMM yyyy"}}&nbsp;/&nbsp;{{cal "gregorian-ru-gen-lc" "d MMMM yyyy"}}
    {{else}}
        {{cal "jewish-en" "MMMM d, yyyy"}}&nbsp;/&nbsp;{{cal "gregorian-en" "MMMM d, yyyy"}}
    {{/unless}}
{{/inline}}

<table class="menu" width="100%" cellspacing="0" cellpadding="0" vspace="0">
    {{#unless englishDomain}}
        {{#assign "menuBar"}}
            <tr valign="bottom">
                <td style="line-height: 1px">
                    {{> menuitem ident="index" alt="Главная" link="/"}}
                    {{> menuitem ident="times" alt="Мигдаль Times" link="/times/"}}
                </td>
                <td align="right" style="line-height: 1px">
                    {{> menuitem ident="search" alt="Поиск" link="/search/"}}
                </td>
            </tr>
        {{/assign}}
        {{{asp menuBar}}}
    {{/unless}}
    <tr><td colspan="2" class="date" align="right">{{> today}}&nbsp;</td></tr>
</table>
