{{#*inline "further"}} {{! params: posting }}
    <p>
        {{image "/pics/further.gif"}} <a href="{{posting.grpDetailsHref}}">Читать книгу</a>
    </p>
{{/inline}}

<dl class='posting'>
    <dt>
        {{#if showTopic}}
            {{topicLink posting}}<br>
        {{/if}}
        {{votePanel align="right" id=posting.id rating=posting.rating}}
        <a class="posting-subject" href="{{posting.grpDetailsHref}}">{{posting.heading}}</a>
        {{#if posting.author}}
            <br><span class="posting-author">{{posting.author}}</span>
        {{/if}}
    </dt>
    <dd>
        {{#if posting.hasImage}}
            {{#assign "imageTitle"}}{{mtext posting.titleMtext}}{{/assign}}
            {{#assign "imageTitleLarge"}}{{mtext posting.titleLineMtext}}{{/assign}}
            {{postingImage posting=posting title=imageTitle titleLarge=imageTitleLarge align="left"}}
        {{/if}}
        {{mtext posting.bodyMtext}}
        {{> further posting=posting}}
        {{! <iterate_packages posting_id="$posting.Id">
        <for>
            <br><image src="pics/package.gif">&sp;
            <if what="$.Type==*PT_BOOK_ONEFILE">
                <assign name="title" value="Вся книга одним файлом в архиве">
            <else>
                <assign name="title" value="Вся книга по главам в архиве">
            </if>
            <a href="$.Href">$title</a>&sp;<i>(ZIP, ${.SizeKB}KB)</i>
        </for> }}
        <div class="sent" style="clear: left">
            {{sentView date=posting.sent}}&nbsp;
            {{senderLink posting}}
        </div>
        {{postingControls posting=posting showDiscuss=showDiscuss}}
    </dd>
</dl>
