{{! params: posting}}

<table class="posting">
    <tr valign="top">
        <td width="150">
            {{postingImage posting=posting href=posting.url}}
            <p class="sent">{{sentView date=posting.sent}}</p>
        </td>
        <td width="5">&nbsp;</td>
        <td width="250">
            {{mtext posting.bodyMtext}}
            <p>
                <a href="{{posting.url}}">{{posting.url}}</a>
            </p>
            <table class="posting-statistics"><tr>
                <td width="25" align="left">
                    {{#unless posting.hidden}}
                        {{#iflt posting.priority -1}}
                            <b>*{{neg posting.priority}}</b>
                        {{else}}
                            &nbsp;
                        {{/iflt}}
                    {{else}}
                        &nbsp;
                    {{/unless}}
                </td>
                <td width="50" align="right">
                    {{#unless posting.hidden}}
                        {{posting.counter1}}/{{posting.counter0}}
                    {{else}}
                        &nbsp;
                    {{/unless}}
                </td>
                <td width="5">&nbsp;</td>
                <td width="20" align="left">
                    {{#unless posting.hidden}}
                        [<a href="/actions/entry/hide?id={{posting.id}}&hide=1&back={{ue rc.location}}">Выключить</a>]
                    {{else}}
                        [<a href="/actions/entry/hide?id={{posting.id}}&hide=0&back={{ue rc.location}}"><b>Включить</b></a>]
                    {{/unless}}
                </td>
            </tr></table>
        </td>
    </tr>
    <tr height="20"><td class="posting-bottom" colspan="3">
        <iswrite what="$posting">
            <a href="/admin/ears/$posting.Id/edit/?redirid=$_">Изменить</a>
            &nbsp;
            <a href="/actions/posting/delete?id=$posting.Id&okdir=$#-&faildir=$#-">Удалить</a>
        <else>
            &nbsp;
        </iswrite>
    </td></tr>
</table>
