{{#*inline "source"}} {{! params: posting }}
    {{#if posting.source}}
        <p class="posting-source">Источник: {{mtext posting.sourceMtext}}</p>
    {{/if}}
{{/inline}}

{{#*inline "further"}} {{! params: posting, title }}
    <p>
        {{image "/pics/further.gif"}} <a href="{{posting.grpDetailsHref}}">{{title}}</a>
    </p>
{{/inline}}

{{#*inline "furtherUrl"}} {{! params: posting }}
    <p>
        {{image "/pics/further-far.gif"}} <a href="{{posting.url}}">Подробности на другом сайте</a>
    </p>
{{/inline}}

<dl class="posting">
    <dt>
        {{#if showTopic}}
            {{topicLink posting}}<br>
        {{/if}}
        {{votePanel align="right" id=posting.id rating=posting.rating}}
        <a class="posting-subject" href="{{posting.grpDetailsHref}}">{{posting.heading}}</a>
        {{#if posting.author}}
            <br><span class="posting-author">{{posting.author}}</span>
        {{/if}}
    </dt>
    <dd>
        {{#if posting.hasImage}}
            {{#assign "imageTitle"}}{{mtext posting.titleMtext}}{{/assign}}
            {{#assign "imageTitleLarge"}}{{mtext posting.titleLineMtext}}{{/assign}}
            {{postingImage posting=posting title=imageTitle titleLarge=imageTitleLarge align="left"}}
        {{/if}}
        {{#if (and shorten (not posting.hasLargeBody))}}
            {{mtext posting.bodyMediumMtext}}
            {{#unless posting.bodyShorterThanMedium}}
                {{#notEnglish var="furtherTitle"}}Читать дальше{{else}}Read more{{/notEnglish}}
                {{> further posting=posting title=furtherTitle}}
            {{else}}
                {{> source posting=posting}}
            {{/unless}}
        {{else}}
            {{mtext posting.bodyMtext}}
            {{#unless posting.hasLargeBody}}
                {{> source posting=posting}}
            {{/unless}}
        {{/if}}
        {{#if posting.hasLargeBody}}
            {{#notEnglish var="furtherTitle"}}Читать {{posting.grpWhat}}{{else}}Read {{posting.grpEnWhat}}{{/notEnglish}}
            {{> further posting=posting title=furtherTitle}}
        {{/if}}
        {{#if posting.url}}
            {{> furtherUrl posting=posting}}
        {{/if}}
        {{#unless shorten}}
            {{postingShare}}
        {{/unless}}
        <div class="sent" style="clear: left">
            {{sentView date=posting.sent}}&nbsp;
            {{senderLink posting}}
        </div>
        {{postingControls posting=posting showDiscuss=showDiscuss}}
</dl>
