{{#*inline "previews"}}
    {{#if posting.publishedEntries}}
        <div class="posting-gallery">
            {{#assign "hollow"}}false{{/assign}}
            {{#each posting.publishedEntries}}
                {{#if shorten}}
                    {{#ifeq @index 20}}
                        <div class="clear-floats"></div>
                        </div><div style="display: none">
                        {{#assign "hollow"}}true{{/assign}}
                    {{/ifeq}}
                {{/if}}
                {{#assign "galleryId"}}gallery-{{posting.topicId}}-{{posting.id}}{{/assign}}
                {{assignDivisive "lineBreak" @index 5}}
                {{picture posting=this showComment=true galleryId=galleryId
                          listIndex=@index listSize=posting.publishedEntries.size
                          hollow=hollow align="left" noClear=(not lineBreak) noMargin=true
                          fixedWidth=150 fixedHeight=150}}
            {{/each}}
            <div class="clear-floats"></div>
        </div>
    {{/if}}
{{/inline}}

<dl class="posting">
    <dt>
        {{#if showTopic}}
            {{topicLink posting suffix="gallery/"}}<br>
        {{/if}}
        {{votePanel align="right" id=posting.id rating=posting.rating}}
        <a class="posting-subject" href="{{posting.grpDetailsHref}}">+{{posting.index1}}
            {{plural posting.index1 "фотография,фотографии,фотографий"}}</a>
    </dt>
    <dd>
        {{> previews}}
        <div class="sent" style="clear: left">
            {{sentView date=posting.sent}}&nbsp;
            {{senderLink posting}}
        </div>
        {{postingControls posting=posting showComment=showComment showEdit=false}}
</dl>
