{{#*inline "further"}} {{! params: posting }}
<p>
    {{image "/pics/further.gif"}}
    <a href="/times/{{posting.index1}}/">Читать журнал</a>
</p>
{{/inline}}

<dl class="posting">
    <dt>
        {{#if showTopic}}
            {{topicLink posting}}<br>
        {{/if}}
        {{votePanel align="right" id=posting.id rating=posting.rating}}
        <a class="posting-subject"
           href="/times/{{posting.index1}}/">&laquo;Мигдаль Times&raquo; &numero;{{posting.issues}}</a>
    </dt>
    <dd>
        {{#if what=posting.hasImage}}
            {{#assign "imageTitle"}}{{mtext posting.titleMtext}}{{/assign}}
            {{#assign "imageTitleLarge"}}{{mtext posting.titleLineMtext}}{{/assign}}
            {{postingImage posting=posting title=imageTitle titleLarge=imageTitleLarge align="left"}}
        {{/if}}
        {{mtext posting.bodyMtext}}
        {{> further posting=posting}}
        <div class="sent" style="clear: left">
            {{sentView date=posting.sent}}&nbsp;
            {{senderLink posting}}
        </div>
        {{postingControls posting=posting showDiscuss=showDiscuss}}
    </dd>
</dl>
