{{#*inline "batcher"}} {{! params: list }}
    <div class="batcher">
        {{#if postingsAddVisible}}
            <div class="adder">
                {{#each postingsAddGrps}}
                    {{#assign "href"}}/{{postingsAddCatalog}}add-{{pn name}}?back={{ue rc.location}}{{/assign}}
                    {{#notEnglish}}
                        {{#assign "add"}}Добавить{{/assign}}
                        {{#assign "w"}}{{what}}{{/assign}}
                    {{else}}
                        {{#assign "add"}}Add{{/assign}}
                        {{#assign "w"}}{{enWhat}}{{/assign}}
                    {{/notEnglish}}
                    {{#if @first}}
                        {{image "/pics/sheet.gif"}}
                        {{#unless @last}}
                            <a href="{{href}}">{{add}} {{w}}</a>,
                        {{else}}
                            <a href="{{href}}">{{add}} {{w}}</a>
                        {{/unless}}
                    {{else}}
                        {{#unless @last}}
                            <a href="{{href}}">{{w}}</a>,
                        {{else}}
                            <a href="{{href}}">{{w}}</a>
                        {{/unless}}
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{> batcher list=postings}}
{{#if postings}}
    {{#each postings}}
        {{> (postingFeedPartial this) posting=this showTopic=postingsShowTopic shorten=true showDiscuss=true}}
    {{/each}}
    {{> batcher list=postings}}
{{/if}}
