{{#*inline "source"}} {{! params: posting }}
    {{#if posting.source}}
        <p class="posting-source">Источник: {{mtext posting.sourceMtext}}</p>
    {{/if}}
{{/inline}}

<dl class="posting">
    <dt>
        {{#if showTopic}}
            {{topicLink posting}}<br><br>
        {{/if}}
        {{votePanel align="right" id=posting.id rating=posting.rating}}
    </dt>
    <dd>
        {{#if posting.hasImage}}
            {{#assign "imageTitleLarge"}}{{mtext posting.titleLineMtext}}{{/assign}}
            {{postingImage posting=posting titleLarge=imageTitleLarge align="left"}}
        {{/if}}
        {{mtext posting.titleMtext}}
        {{> source posting=posting}}
        <div class="sent" style="clear: left">
            {{sentView date=posting.sent}}&nbsp;
            {{senderLink posting}}
        </div>
        {{postingControls posting=posting showDiscuss=showDiscuss}}
</dl>
