{{#*inline "banner"}}
    <div id='logo'>
        <a href='/'>
            {{image "/pics/big-tower.gif" alt="Башня" alt_en="Tower"}}</a>
        {{#unless englishDomain}}
            <a href='/'>
                {{image "/pics/migdal.jpg" alt="Мигдаль" id="migdal"}}</a>
        {{else}}
            <a href='/'>
                {{image "/pics/migdal-english.gif" alt="Migdal" id="migdal"}}</a>
        {{/unless}}
        {{! > hannukah}}
    </div>
{{/inline}}

{{#*inline "translation"}}
    {{#if translationHref}}
        {{#if englishDomain}}
            {{image "/pics/lang-ru.gif"}}
            <a href='{{translationHref}}' id='translation'>Русская версия</a>
        {{else}}
            {{image "/pics/lang-us.gif"}}
            <a href='{{translationHref}}' id='translation'>English version</a>
        {{/if}}
    {{/if}}
{{/inline}}

{{#unless print}}
    <div id='top'>
        {{> banner}}
        {{> part/countdown title="25-летия &#171;Мигдаля&#187;" date="2017-02-06"
                           image="/pics/logo-birthday.gif"}}
        <div id='bsd-block'>
            {{> translation}}
            {{image "/pics/bsd-main.gif" alt='БС"Д' alt_en='BS"D' id="bsd"}}
        </div>
        <login>
    </div>
    <outer><table width='100%' cellspacing='0' cellpadding='0'><inner>
        <error id='*EL_NO_COOKIES' span='2'
               text='Не работают cookies. Включите поддержку cookies в настройках вашего браузера.'>
    </inner></table></outer>
    {{> part/menu}}
    <backtrace>
{{/unless}}
