{{#*inline "banner"}}
    <div id="logo">
        <a href="/">{{image "/pics/big-tower.gif" alt="Башня" altEn="Tower"}}</a>
        {{#notEnglish}}
            <a href="/">{{image "/pics/migdal.jpg" alt="Мигдаль" id="migdal"}}</a>
        {{else}}
            <a href="/">{{image "/pics/migdal-english.gif" alt="Migdal" id="migdal"}}</a>
        {{/notEnglish}}
        {{hannukah}}
    </div>
{{/inline}}

{{#*inline "translation"}}
    {{#if translationHref}}
        {{#english}}
            {{image "/pics/lang-ru.gif"}}
            <a href="{{rc.wwwSiteUrl}}{{translationHref}}" id="translation">Русская версия</a>
        {{else}}
            {{image "/pics/lang-us.gif"}}
            <a href="{{rc.englishSiteUrl}}{{translationHref}}" id="translation">English version</a>
        {{/english}}
    {{/if}}
{{/inline}}

<div id="top">
    {{> banner}}
    {{> part/countdown title="25-летия &laquo;Мигдаля&raquo;" date="2017-02-06"
                       image="/pics/logo-birthday.gif"}}
    <div id="bsd-block">
        {{> translation}}
        {{image "/pics/bsd-main.gif" alt="БС&quot;Д" altEn="BS&quot;D" id="bsd"}}
    </div>
    {{> part/login}}
</div>
{{> part/menu}}
{{> part/backtrace}}
