{{upperLevel title="На главную страницу" href="/"}}
{{#topicsTable title=topic.subject}}
    {{!<iterate_posting_users topic_id="$,Id" as_guest="*true">}}
    {{#assign "href"}}/{{topic.catalog}}{{/assign}}
    {{topicsLine text="Все пользователи" href=href index="0" class="ninept topics-item"}}
    {{!<for>
       <zone>
        <posting_last name="last" topic_id="$,Id" user_id="$.Id" as_guest="*true">
       </zone>
       <topics_line time="$last" text="$=.FullName" href#="/${,Catalog}$.Folder/"
            arrow!="$.Id==$index" class="eightpt topics-item">
    </for>}}
{{/topicsTable}}
