{{upperLevel name="Общинный центр (JCC)" href="/migdal/jcc/"}}
{{#topicsTable title="КЕС"}}
    {{topicsLine text="О клубе" href="/migdal/jcc/student/" index="migdal.jcc.student" class="topics-item ninept"}}
    {{topicsLine text="Галерея" href="/migdal/jcc/student/gallery/" index="migdal.jcc.student.gallery"
                 class="topics-item ninept"}}
{{/topicsTable}}
{{> part/topics-common-events topic=confs list=confsEvents}}
{{> part/topics-common-events topic=kvorim list=kvorimEvents}}
{{> part/topics-common-events topic=other list=otherEvents}}
