{{upperLevel name="Мигдаль" href="/migdal/"}}
{{#topicsTable title="Еврейский музей Одессы"}}
    {{topicsLine text="О музее" href="/migdal/museum/" index="migdal.museum" class="topics-item ninept"}}
    {{topicsLine text="Новости" href="/migdal/museum/news/" index="migdal.museum.news" class="topics-item ninept"}}
    {{topicsLine text="Галерея" href="/migdal/museum/gallery/" index="migdal.museum.gallery"
                 class="topics-item ninept"}}
    {{!topicsLine text="Одесские евреи и русские революции" href="/migdal/museum/catalog/" index="migdal.museum.catalog"
                 class="topics-item ninept"}}
    {{topicsLine text="Узники гетто" href="/migdal/museum/prisoners/" index="migdal.museum.prisoners"
                 class="topics-item ninept"}}
{{/topicsTable}}
{{> part/history today="post.migdal.museum"}}
{{> part/topics-common-events topic=confs list=confsEvents}}
