{{upperLevel name="Мигдаль" href="/migdal/"}}
{{#topicsTable title="Методический центр"}}
    {{topicsLine text="О центре" href="/migdal/methodology/" index="migdal.methodology" class="topics-item ninept"}}
    {{topicsLine text="Методические пособия" href="/migdal/methodology/books/" index="migdal.methodology.books"
                 class="topics-item ninept"}}
{{/topicsTable}}
{{> part/topics-common-events topic=aboker list=abokerEvents cache=abokerCache}}
{{> part/topics-common-events topic=halom list=halomEvents cache=halomCache}}
{{> part/topics-common-events topic=youth list=youthEvents cache=youthCache}}
{{> part/topics-common-events topic=science list=scienceEvents cache=scienceCache}}
