{{#topicsSubtable}}
    {{topicsLine index="migdal.news" href="/migdal/news/" text="Новости" class="topics-item eightpt"}}
    {{topicsLine index="migdal.events" href="/migdal/events/" text="События" class="topics-item eightpt"}}
    {{topicsLine index="migdal.jcc" href="/migdal/jcc/" text="Общинный центр (JCC)" class="topics-item eightpt"
                 title="Живопись, музыка, танцы, программы для всех возрастов"}}
    {{topicsLine index="migdal.library" href="/migdal/library/" text="Библиотека" class="topics-item eightpt"}}
    {{topicsLine index="migdal.museum" href="/migdal/museum/" text="Еврейский музей Одессы" class="topics-item eightpt"}}
    {{topicsLine index="migdal.migdal-or" href="/migdal/migdal-or/" class="topics-item eightpt"
                 text="Одесский еврейский театр «Мигдаль-ор»"}}
    {{topicsLine index="migdal.mazltov" href="/migdal/mazltov/" class="topics-item eightpt"
                 text="Центр раннего развития детей «Мазл Тов»"}}
    {{topicsLine index="migdal.beitenu" href="/migdal/beitenu/" class="topics-item eightpt"
                 text="Центр продленного дня «Бейтену»"}}
    {{topicsLine index="migdal.methodology" href="/migdal/methodology/" class="topics-item eightpt"
                 text="Методический центр" title="Южно-украинский региональный методический центр"}}
    {{topicsLine index="migdal.printings" href="/migdal/printings/" class="topics-item eightpt"
                 text="Издательский центр"}}
    {{topicsLine index="migdal.tzdaka" href="/migdal/tzdaka/" text="Пожертвования" class="topics-item eightpt"}}
{{/topicsSubtable}}