{{#topicsSubtable class="eightpt"}}
    {{topicsLine index="migdal.news" href="/migdal/news/" text="Новости"}}
    {{topicsLine index="migdal.events" href="/migdal/events/" text="События"}}
    {{topicsLine index="migdal.jcc" href="/migdal/jcc/" text="Общинный центр (JCC)"
                 title="Живопись, музыка, танцы, программы для всех возрастов"}}
    {{topicsLine index="migdal.library" href="/migdal/library/" text="Библиотека"}}
    {{topicsLine index="migdal.museum" href="/migdal/museum/" text="Еврейский музей Одессы"}}
    {{topicsLine index="migdal.migdal-or" href="/migdal/migdal-or/" text="Одесский еврейский театр «Мигдаль-ор»"}}
    {{topicsLine index="migdal.mazltov" href="/migdal/mazltov/" text="Центр раннего развития детей «Мазл Тов»"}}
    {{topicsLine index="migdal.beitenu" href="/migdal/beitenu/" text="Центр продленного дня «Бейтену»"}}
    {{topicsLine index="migdal.methodology" href="/migdal/methodology/" text="Методический центр"
                 title="Южно-украинский региональный методический центр"}}
    {{topicsLine index="migdal.printings" href="/migdal/printings/" text="Издательский центр"}}
    {{topicsLine index="migdal.tzdaka" href="/migdal/tzdaka/" text="Пожертвования"}}
{{/topicsSubtable}}
