{{upperLevel name="События" href="/migdal/events/"}}
{{#topicsTable class="eightpt" title=event.subject}}
    {{#postable event}}
        <li class="topics-nobullet">
            <a href="{{event.href}}add-articles?back={{ue rc.location}}" class="edit">Добавить статью</a><br>
            <a href="{{event.href}}reorder?back={{ue rc.location}}" class="edit">Расставить статьи</a>
        </li>
    {{/postable}}
    {{#if allArticles}}
        {{#each allArticles}}
            {{topicsLine text=heading href=grpDetailsHref index=id}}
        {{/each}}
        {{topicsSplitter}}
    {{/if}}
    {{#each allDailyNews}}
        {{topicsLine text=heading href=grpDetailsHref index=index1}}
    {{/each}}
{{/topicsTable}}
