{{#if parentLocation.uri}}
    {{upperLevel href=parentLocation.uri name=parentLocation.pageTitleFull}}
{{/if}}
{{#topicsTable title="Оглавление" class="ninept"}}
    {{#appendable book}}
        <li class="topics-nobullet">
            <a href="{{book.grpDetailsHref}}add-book-chapters/?back={{ue rc.location}}" class="edit">Добавить</a><br>
            <a href="{{book.grpDetailsHref}}reorder-book-chapters/?back={{ue rc.location}}" class="edit">Расставить</a>
        </li>
    {{/appendable}}
    {{topicsLine text="Обложка" href=book.grpDetailsHref index=book.id}}
    {{#each bookChapters}}
        {{#assign "href"}}{{book.grpDetailsHref}}{{id}}/{{/assign}}
        {{topicsLine text=subject href=href index=id}}
    {{/each}}
    {{topicsSplitter}}
    {{#assign "href"}}{{book.grpDetailsHref}}print{{/assign}}
    {{topicsLine text="Вся книга для печати" href=href index="print" class="topics-item eightpt"}}
    {{! <iterate_packages posting_id="$book.Id">
    <for>
        <if what="$.Type==*PT_BOOK_ONEFILE">
            <assign name="title" value="Вся книга одним файлом в архиве">
        <else>
            <assign name="title" value="Вся книга по главам в архиве">
        </if>
        <topics_line text="$title" class="topics-item ninept" nobullet="*true" href="$.Href" count#="${.SizeKB}KB">
    </for> }}
{{/topicsTable}}
