{{#*inline "batcher"}} {{! params: list, showAdder }}
    <div class="batcher">
        {{#if showAdder}}
            <div class="adder">
                {{image "/pics/sheet.gif"}}
                <a href="#comment-add">Добавить комментарий</a>
            </div>
        {{/if}}
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{#*inline "errorLines"}}
    {{#if errors}}
        <table class="form" width="100%">
            {{formErrors exceptForm="commentForm"}}
        </table>
    {{/if}}
{{/inline}}

{{> errorLines}}
{{> batcher list=comments showAdder=true}}
<a name="comments"></a>
<div class="comments">
    {{#each comments}}
        {{> part/comment comment=this posting=posting}}
    {{/each}}
</div>
{{#if comments}}
    {{> batcher list=comments showAdder=false}}
{{/if}}
{{#postable posting}}
    <a name="comment-add"></a>
    {{> part/comment-edit commentForm=commentForm posting=posting xmlid=0}}
{{/postable}}
