{{#*inline "batcher"}} {{! params: list }}
    <div class="batcher">
        {{#if galleryAddVisible}}
            <div class="adder">
                {{#assign "href"}}/{{galleryAddCatalog}}add-gallery?back={{ue rc.location}}{{/assign}}
                {{image "/pics/sheet.gif"}}
                <a href="{{href}}">Добавить фотографию</a>
            </div>
        {{/if}}
        <div class="sorter">
            <b>Сортировать</b>
            {{naviSort title="по дате" value="sent" sort=gallerySort}} |
            {{naviSort title="по рейтингу" value="rating" sort=gallerySort}}
        </div>
        {{spin list}}
        <div class="clear-floats"></div>
    </div>
{{/inline}}

{{> batcher list=galleryPage}}
{{#if gallery}}
    <div style="display: none">
        {{#assign "hollow"}}true{{/assign}}
        {{#each gallery}}
            {{#ifieq @index galleryBegin}}
                <div class="clear-floats"></div>
                </div>
                <div class="pictures">
                {{#assign "hollow"}}false{{/assign}}
            {{/ifieq}}
            {{#ifieq @index galleryEnd}}
                <div class="clear-floats"></div>
                </div>
                <div style="display: none">
                {{#assign "hollow"}}true{{/assign}}
            {{/ifieq}}
            {{#assign "galleryId"}}gallery-{{topic.id}}{{/assign}}
            {{assignDivisive "lineBreak" @index 5}}
            {{picture posting=this galleryId=galleryId hollow=hollow align="left" noClear=(not lineBreak) noMargin=true}}
        {{/each}}
        <div class="clear-floats"></div>
    </div>
    {{> batcher list=galleryPage}}
{{/if}}
