{{#*inline "further"}} {{! params: posting, title }}
    <p>
        {{image "/pics/further.gif"}}
        <a href="{{posting.grpDetailsHref}}">{{title}}</a>
    </p>
{{/inline}}

<dl class="posting">
    <dt>
        {{#if showTopic}}
            {{topicLink posting}}<br>
        {{/if}}
        {{votePanel align="right" id=posting.id rating=posting.rating}}
        <a class="posting-subject" href="{{posting.grpDetailsHref}}">{{posting.heading}}</a>
        {{#if posting.author}}
            <br><span class="posting-author">{{posting.author}}</span>
        {{/if}}
    </dt>
    <dd>
        {{#if posting.hasImage}}
            {{#assign "imageTitle"}}{{mtext posting.titleMtext}}{{/assign}}
            {{#assign "imageTitleLarge"}}{{mtext posting.titleLineMtext}}{{/assign}}
            {{postingImage posting=posting title=imageTitle titleLarge=imageTitleLarge align="left"}}
        {{/if}}
        {{mtext posting.bodyMtext}}
        {{> further posting=posting title="Читать статью"}}
        {{postingControls posting=posting showComment=showComment}}
</dl>
