{{#topicsTable class="ninept" title="Администратор"}}
    {{topicsLine index="moderator" text="Модератор" href="/admin/moderator/"}}
    {{topicsSplitter}}
    {{topicsLine index="admin-topics" text="Темы" href="/admin/topics/"}}
    {{topicsLine index="admin-postings" text="Сообщения" href="/admin/postings/"}}
    {{topicsLine index="admin-users" text="Пользователи" href="/admin/users/"}}
    {{topicsLine index="admin-groups" text="Группы" href="/admin/groups/"}}
    {{topicsSplitter}}
    {{topicsLine index="admin-ears" text="Ушки" href="/admin/ears/"}}
    {{topicsLine index="admin-textears" text="Текстовые ушки" href="/admin/textears/"}}
{{/topicsTable}}