{{#topicsTable title="Migdal"}}
    {{topicsLine text="Home" href="/" index="index"}}
    {{topicsLine text="News & Events" href="/events/" index="events"}}
    {{#postable migdal}}
        <li class="topics-nobullet">
            <a href="/add-review?back={{ue rc.location}}" class="edit">Add</a><br>
            <a href="/reorder-reviews?back={{ue rc.location}}" class="edit">Reorder</a>
        </li>
    {{/postable}}
    {{#cached topicsEnglishCache}}
        {{#each allReviews}}
            {{#ifne ident "post.migdal,e"}}
                {{topicsLine text=subject href=grpDetailsHref index=id class="topics-item ninept"}}
            {{/ifne}}
        {{/each}}
    {{/cached}}
{{/topicsTable}}
