{{#*inline "naviMain"}}
    {{topicsLine index="index" href="/" title="На главную страницу" text="Главная"}}
{{/inline}}

{{#*inline "naviMigdal"}}
    {{topicsLine index="migdal" href="/migdal/" text="Мигдаль"}}
{{/inline}}

{{#*inline "general"}}
    {{#cached topicsMajorCache}}
        {{#each majors}}
            {{topicsLine index=ident class="topics-item ninept" href=href title=bodyNormal text=subject}}
        {{/each}}
    {{/cached}}
{{/inline}}

{{#*inline "naviForum"}}
    {{topicsLine index="forum" href="/forum/" text="Все обсуждения"}}
{{/inline}}

{{#*inline "naviArchive"}}
    {{topicsLine index="archive" href="/archive/" text="Архив"}}
    {{topicsLine index="chat-archive" href="/chat-archive/" text="Архив чата"}}
{{/inline}}

{{#topicsTable title="Разделы"}}
    {{> naviMain}}
    {{> naviMigdal}}
    {{> part/topics-migdal}}
    {{> general}}
{{/topicsTable}}
<br>
{{#topicsTable class="eightpt"}}
    {{> naviForum}}
    {{> naviArchive}}
    {{#adminTopics}}
        <li class="topics-nobullet">
            <a href="/major/">Изменить</a>
        </li>
    {{/adminTopics}}
{{/topicsTable}}