{{> part/preamble}}
{{> part/top}}

{{#formTable title="Добавление пользователя в группу" mini=true}}
    {{formErrors}}
    <form method="post" action="/actions/group/add">
        {{hidden name="back" value=rc.location}}
        {{starInfo}}
        {{formEdit title="Группа" mandatory=true name="groupName" value=groupAddForm.groupName
                   size="30" maxlength="30"}}
        {{formEdit title="Пользователь" mandatory=true name="userName" value=groupAddForm.userName
                   size="30" maxlength="30"}}
        {{formButtons title="Добавить"}}
    </form>
{{/formTable}}

{{> part/bottom}}