{{#*inline "textearsBlock"}}
    {{#cached textEarsCache}}
        {{#if textears}}
            <div class="textears-title">Коротко о важном:</div>
            <ul class="ninept" style="margin-bottom: 3ex">
                {{#each textears}}
                    <li><a href="{{url}}">{{subject}}</a></li>
                {{/each}}
            </ul>
        {{/if}}
    {{/cached}}
{{/inline}}

{{#*inline "dailyAnnounce"}}
    {{#cached dailyNewsCache}}
        {{#if dailyNews}}
            <div class="textears-title">{{dailyNewsTopic.comment0}}:</div>
            <div style="display: flex; max-width: 700px; margin-bottom: 3ex">
                {{#if dailyPicture}}
                    {{#if dailyPicture.hasImage}}
                        <div style="flex: none; align-self: center; max-width: 200px">
                            {{postingImage posting=dailyPicture href=dailyPicture.href}}
                        </div>
                    {{/if}}
                {{/if}}
                <div style="flex: auto">
                    <ul class="ninept" style="margin-bottom: 0">
                        {{#each dailyNews}}
                            <li>
                                <b>{{subject}}.</b>
                                <a href="{{grpDetailsHref}}">{{mtext comment0Mtext}}</a>
                            </li>
                        {{/each}}
                    </ul>
                    <div style="padding-left: 3em">
                        <a href="{{dailyNewsTopic.href}}" class="eightpt"><b>Все дни</b></a>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/cached}}
{{/inline}}

{{> part/preamble}}
{{> part/top}}

<div class="columns">
    <div class="left-column" style="width: 170px">
        {{> (topicsPartial)}}
        {{> part/ears}}
    </div>
    <div class="center-column">
        <div class="center-column-content">
            {{subtitle}}
            {{> part/see-also}}
            {{#unless topic}}
                {{> dailyAnnounce}}
                {{> textearsBlock}}
            {{/unless}}
            {{> part/postings}}
        </div>
        <div class="right-column">
            {{tzdaka}}
            {{> part/hit-parade}}
            {{#unless topic}}
                {{> part/discussions}}
            {{/unless}}
        </div>
    </div>
</div>

{{> part/bottom}}
