{{> part/preamble}}
{{> part/top}}

{{#formTable title="Восстановление пароля"}}
    <form method="get" action="{{rc.back}}">
        {{#formComment}}
            <p>
                Новый пароль для пользователя <b>{{user.login}}</b> создан успешно.
            </p>
            <p>
                На Ваш адрес {{mailToLink user}} отправлено письмо, в котором
                указан Ваш новый пароль.
            </p>
            <p>
                Пожалуйста, будьте терпеливы. Если вы пользуетесь популярными бесплатными
                почтовыми серверами, например, mail.ru, то письма на ваш ящик могут
                приходить с опозданием.
            </p>
        {{/formComment}}
        {{formButtons title="Вернуться" clear=false}}
    </form>
{{/formTable}}

{{> part/bottom}}