<a name="t{{id}}"></a>
<div class="forum">
    <div class="header">
        {{senderLink}}<br>
        <span class="sent">{{sentView}}</span>
    </div>
    <div class="content">
        <div class="body">
            {{bodyHtml}}
        </div>
        <div class="controls">
            &nbsp;&nbsp;
            <a href="{{postingHref}}/{{id}}/reply/" title="Ответить с цитированием">Ответить</a>
            {{#writable}}
                &nbsp;&nbsp;
                <a href="{{postingHref}}/{{id}}/edit/">Изменить</a>
                {{#moderator}}
                    &nbsp;&nbsp;
                    {{#disabled}}
                        <a href="/actions/entry/moderate?id={{id}}&amp;hide=0&amp;back={{ueLocation}}">Разрешить показ</a>
                    {{/disabled}}
                    {{^disabled}}
                        <a href="/actions/entry/moderate?id={{id}}&amp;hide=1&amp;back={{ueLocation}}">Запретить показ</a>
                    {{/disabled}}
                    &nbsp;&nbsp;
                    <a href="/actions/forum/delete?id={{id}}&amp;back={{ueLocation}}">Удалить</a>
                {{/moderator}}
            {{/writable}}
        </div>
    </div>
</div>
