<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Подтверждение регистрации на сайте "Мигдаля"</subject>
    </headers>
    <content>
        {{#if to.man}}
            {{#assign "fin"}}ый{{/assign}}
        {{else}}
            {{#assign "fin"}}ая{{/assign}}
        {{/if}}
        <p>Уважаем{{fin}} {{to.fullName}}!</p>
        <p>
            Это письмо отправлено Вам для завершения процесса регистрации пользователя
            "{{user.login}}" на сайте "Мигдаля".
        </p>
        <p>
            Для завершения регистрации Вам нужно ввести следующий адрес в адресной
            строке Вашего браузера:
        </p>
        <p>
            {{rc.siteUrl}}/actions/user/confirm?code={{user.confirmCode}}
        </p>
        <p>
            В большинстве современных почтовых программ для завершения регистрации
            достаточно щелкнуть по этой ссылке и дождаться загрузки страницы.
        </p>
        <p>
            Если пользователь с Вашим адресом был зарегистрирован по ошибке, Вам не
            нужно предпринимать никаких действий - по прошествии некоторого времени
            этот пользователь будет удален из системы. Воспользоваться Вашим адресом
            без Вашего ведома никто не сможет.
        </p>
        <p>---</p>
        <p>Автоматически Ваш, Регистратор.</p>
    </content>
</mail>