<?xml version="1.0" encoding="UTF-8"?>
<mail>
    <headers>
        <subject>Регистрация подтверждена</subject>
    </headers>
    <content>
        <p>
            Подтверждена регистрация пользователя:
        </p>
        <p>
            Ник: {{user.login}}<br />
            Имя: {{user.name}}<br />
            Еврейское имя: {{user.jewishName}}<br />
            Фамилия: {{user.surname}}<br />
            Пол: {{#if user.man}}Мужской{{else}}Женский{{/if}}<br />
            E-mail: {{user.email}}
        </p>
        <p>---</p>
    </content>
</mail>
